<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast></p-toast>
          <div class="card">
            <h1 class="mb-4 h-color">Add International Outbound By Air</h1>
            <form #ISForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="grid">
                <!-- 1 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Country</label>
                    <p-dropdown
                      class="w-full"
                      [options]="originCountry"
                      (onChange)="onOrgCountryChange()"
                      #originCountry1="ngModel"
                      name="originCountry1"
                      [required]="true"
                      [(ngModel)]="internationalShipment.originCountry"
                      optionValue="name"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Origin Country
                    "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.originCountry }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-originCountry pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ originCountry.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Facility </label>
                    <p-dropdown
                      class="w-full"
                      [options]="originFacility"
                      (onChange)="onOrgFacilityChange()"
                      name="originFacility1"
                      #originFacility1="ngModel"
                      [required]="true"
                      [(ngModel)]="internationalShipment.originFacility"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Origin Facility"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.originFacility }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-originFacility pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ originFacility.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Location</label>
                    <p-dropdown
                      class="w-full"
                      [options]="orgLocation"
                      name="originLocation"
                      #originLocation="ngModel"
                      [required]="true"
                      [(ngModel)]="internationalShipment.originLocation"
                      optionLabel="locationName"
                      optionValue="locationName"
                      [filter]="true"
                      filterBy="locationName"
                      [showClear]="true"
                      placeholder="Select a Origin Location"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.originLocation }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-location pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ location.locationName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Country </label>
                    <p-dropdown
                      class="w-full"
                      (onChange)="onDesCountryChange()"
                      [options]="destinationCountry"
                      #destinationCountry1="ngModel"
                      name="destinationCountry1"
                      [required]="true"
                      [(ngModel)]="internationalShipment.destinationCountry"
                      optionValue="name"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Destination Country
                      "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>
                            {{ internationalShipment.destinationCountry }}
                          </div>
                        </div>
                      </ng-template>
                      <ng-template let-destinationCountry pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ destinationCountry.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Facility </label>
                    <p-dropdown
                      class="w-full"
                      [options]="destinationFacility"
                      (onChange)="onDesFacilityChange()"
                      name="destinationFacility1"
                      #destinationFacility1="ngModel"
                      [required]="true"
                      [(ngModel)]="internationalShipment.destinationFacility"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Destination Facility"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>
                            {{ internationalShipment.destinationFacility }}
                          </div>
                        </div>
                      </ng-template>
                      <ng-template let-destinationFacility pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ destinationFacility.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Location</label>
                    <p-dropdown
                      class="w-full"
                      [options]="desLocation"
                      name="destinationLocation"
                      #destinationLocation="ngModel"
                      [required]="true"
                      [(ngModel)]="internationalShipment.destinationLocation"
                      optionLabel="locationName"
                      optionValue="locationName"
                      [filter]="true"
                      filterBy="locationName"
                      [showClear]="true"
                      placeholder="Select a Destination Location"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>
                            {{ internationalShipment.destinationLocation }}
                          </div>
                        </div>
                      </ng-template>
                      <ng-template let-location pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ location.locationName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Mode </label>
                    <input
                      #mode="ngModel"
                      name="mode"
                      [required]="true"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [readOnly]="true"
                      [(ngModel)]="internationalShipment.type"
                    />
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Shipment Mode </label>
                    <p-dropdown
                      class="w-full"
                      [options]="shipmentMode"
                      #SMode="ngModel"
                      name="SMode"
                      [required]="true"
                      [(ngModel)]="internationalShipment.shipmentMode"
                      optionValue="options"
                      optionLabel="options"
                      [filter]="true"
                      filterBy="options"
                      [showClear]="true"
                      placeholder="Select a Shipment Mode
                    "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.shipmentMode }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-shipmentMode pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ shipmentMode.options }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Pre Alert Number</label>
                    <input
                      pInputText
                      id="name"
                      pattern="\d{3}-\d{8}"
                      minlength="12"
                      maxlength="12"
                      aria-describedby="name-help"
                      name="preAlertNumber"
                      [(ngModel)]="internationalShipment.preAlertNumber"
                      #preAlertNumber="ngModel"
                      (input)="dashAfterThree()"
                      required
                      [ngClass]="{
                        error:
                          preAlertNumber.invalid &&
                          (preAlertNumber.dirty || preAlertNumber.touched)
                      }"
                    />

                    <small
                      class="color-red error"
                      *ngIf="preAlertNumber.invalid && (preAlertNumber.dirty || preAlertNumber.touched )&&preAlertNumber?.errors?.['required']"
                    >
                      Pre Alert Number is required.
                    </small>
                    <small
                      class="color-red error"
                      *ngIf="preAlertNumber.invalid && (preAlertNumber.dirty || preAlertNumber.touched )&&preAlertNumber?.errors?.['pattern']"
                    >
                      Invalid pattern
                    </small>
                    <small
                      class="color-red error"
                      *ngIf="preAlertNumber.invalid && (preAlertNumber.dirty || preAlertNumber.touched )&&preAlertNumber?.errors?.['minlength']"
                    >
                      Minimum 11 cheater is required
                    </small>
                  </div>
                </div>

                <!-- 2 -->

                <!-- <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Port </label>
                    <p-dropdown
                      class="w-full"
                      [options]="originPorts"
                      #originPort="ngModel"
                      name="originPort"
                      [required]="true"
                      [(ngModel)]="internationalShipment.originPort"
                      optionValue="portName"
                      optionLabel="portName"
                      [filter]="true"
                      filterBy="portName"
                      [showClear]="true"
                      placeholder="Select a Origin Port
                    "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.originPort }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-originPorts pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ originPorts.portName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div> -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Trip</label>
                    <input
                      pInputText
                      id="trip"
                      type="number"
                      pattern="^[1-9]+[0-9]*$"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.trip"
                      #trip="ngModel"
                      required
                      name="trip"
                    />
                    <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                  </div>
                </div>

                <!-- 3 -->

                <!-- <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Port </label>
                    <p-dropdown
                      class="w-full"
                      [options]="destinationPorts"
                      #destinationPort="ngModel"
                      name="destinationPort"
                      [required]="true"
                      [(ngModel)]="internationalShipment.destinationPort"
                      optionValue="portName"
                      optionLabel="portName"
                      [filter]="true"
                      filterBy="portName"
                      [showClear]="true"
                      placeholder="Select a Destination Port
                      "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.destinationPort }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-destinationPorts pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ destinationPorts.portName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div> -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name"
                      >Route Number
                      <span
                        ><p-badge
                          (click)="getInternationalRouteForAir()"
                          class=""
                          value="Look up"
                          severity="info"
                        ></p-badge> </span
                    ></label>
                    <p-dropdown
                      class="w-full"
                      [options]="routes"
                      #routeNumber="ngModel"
                      name="routeNumber"
                      [required]="true"
                      [(ngModel)]="internationalShipment.routeNumber"
                      optionValue="route"
                      optionLabel="route"
                      [filter]="true"
                      filterBy="route"
                      [showClear]="true"
                      placeholder="Select a Route Number
                      "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>
                            {{ internationalShipment.routeNumber }}
                          </div>
                        </div>
                      </ng-template>
                      <ng-template let-routes pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ routes.route }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <!-- 4 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ETD</label>
                    <p-calendar
                      #etd="ngModel"
                      name="etd"
                      [(ngModel)]="internationalShipment.etd"
                      [stepMinute]="5"
                      [defaultDate]="defaultDate"
                      [required]="true"
                      [showTime]="true"
                      [selectOtherMonths]="true"    
                    ></p-calendar>
                    <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ETA</label>
                    <p-calendar
                      #eta="ngModel"
                      name="eta"
                      [(ngModel)]="internationalShipment.eta"
                      [stepMinute]="5"
                      [defaultDate]="defaultDate"
                      [required]="true"
                      [showTime]="true"
                      [selectOtherMonths]="true"
                    ></p-calendar>
                    <!-- <small id="name-help"
                          >{{name}}</small
                        > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ATD</label>
                    <p-calendar
                      #atd="ngModel"
                      name="atd"
                      [(ngModel)]="internationalShipment.atd"
                      [stepMinute]="5"
                      [defaultDate]="defaultDate"
                      [required]="true"
                      [showTime]="true"
                      [selectOtherMonths]="true"
                    ></p-calendar>
                    <!-- <small id="name-help"
                          >{{name}}</small
                        > -->
                  </div>
                </div>

                <!-- 5 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Carrier</label>
                    <p-dropdown
                      class="w-full"
                      [options]="carrier?.productFieldValuesList"
                      name="carrier"
                      #status="ngModel"
                      [required]="true"
                      [(ngModel)]="internationalShipment!.carrier"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Status"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.carrier}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-shipmentStatus pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ shipmentStatus.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <!-- 6 -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Flight Number</label>
                    <input
                      #flightNumber="ngModel"
                      name="carrier"
                      [required]="true"
                      pInputText
                      id="flightNumber"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.flightNumber"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        flightNumber.invalid &&
                        (flightNumber.dirty || flightNumber.touched)
                      "
                      >Flight Number is required.</small
                    >
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Shipments</label>
                    <p-inputNumber
                      id="name"
                      [(ngModel)]="internationalShipment.numberOfShipments"
                      #numberOfShipments="ngModel"
                      [required]="true"
                      name="numberOfShipments"
                      [useGrouping]="false"
                    ></p-inputNumber>
                    <small
                      class="color-red error"
                      *ngIf="numberOfShipments.invalid && (numberOfShipments.dirty || numberOfShipments.touched )&&numberOfShipments?.errors?.['required']"
                    >
                      Number Of Shipments is required.
                    </small>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number Of Boxes</label>
                    <p-inputNumber
                      id="name"
                      [(ngModel)]="internationalShipment.numberOfBoxes"
                      #numberOfBoxes="ngModel"
                      [required]="true"
                      name="numberOfBoxes"
                      [useGrouping]="false"
                    ></p-inputNumber>
                    <small
                      class="color-red error"
                      *ngIf="numberOfBoxes.invalid && (numberOfBoxes.dirty || numberOfBoxes.touched )&&numberOfBoxes?.errors?.['required']"
                    >
                      Number Of Boxes is required.
                    </small>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Weight in kg</label>
                    <p-inputNumber
                      id="name"
                      [(ngModel)]="internationalShipment.actualWeight"
                      #actualWeight="ngModel"
                      [required]="true"
                      name="actualWeight"
                      [useGrouping]="false"
                    ></p-inputNumber>
                    <small
                      class="color-red error"
                      *ngIf="actualWeight.invalid && (actualWeight.dirty || actualWeight.touched )&&actualWeight?.errors?.['required']"
                    >
                      Weight in kg is required.
                    </small>
                  </div>
                </div>
                <!-- 8 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Master CONS</label>
                    <p-inputNumber
                      [maxlength]="12"
                      id="name"
                      [(ngModel)]="internationalShipment.referenceNumber"
                      #referenceNumber="ngModel"
                      [required]="true"
                      name="referenceNumber"
                      [useGrouping]="false"
                    ></p-inputNumber>
                    <small
                      class="color-red error"
                      *ngIf="referenceNumber.invalid && (referenceNumber.dirty || referenceNumber.touched )&&referenceNumber?.errors?.['required']"
                    >
                      Reference Number is required.
                    </small>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Pallets</label>
                    <p-dropdown
                      class="w-full"
                      #numberOfPallet="ngModel"
                      name="numberOfPallet"
                      [required]="true"
                      [options]="numberOfPallets"
                      [(ngModel)]="internationalShipment.numberOfPallets"
                      optionValue="options"
                      optionLabel="options"
                      [filter]="true"
                      filterBy="options"
                      [showClear]="true"
                      placeholder="Select a Number of Pallets"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.numberOfPallets }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-numberOfPallets pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ numberOfPallets.options }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Bags</label>
                    <p-inputNumber
                      [maxlength]="3"
                      id="name"
                      [(ngModel)]="internationalShipment.numberOfBags"
                      #numberOfBags="ngModel"
                      [required]="true"
                      name="numberOfBags"
                    ></p-inputNumber>
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        numberOfBags.invalid &&
                        (numberOfBags.dirty || numberOfBags.touched)
                      "
                      >Number of Bags is required.</small
                    >
                  </div>
                </div>
                <!-- 9 -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Status </label>
                    <input
                      #status="ngModel"
                      name="status"
                      [required]="true"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [readOnly]="true"
                      [(ngModel)]="internationalShipment.status"
                    />
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Remarks</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.remarks"
                      #remarks="ngModel"
                      name="remarks"
                      [required]="true"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        remarks.invalid && (remarks.dirty || remarks.touched)
                      "
                      >Remarks is required.</small
                    >
                  </div>
                </div>
              </div>

              <div class="flex align-items-center justify-content-end mt-4">
                <p-button
                  label="Cancel"
                  class="bg-o-color mr"
                  routerLink="/international-shipment-by-air"
                  styleClass="p-button-outlined"
                >
                </p-button>
                <p-button
                  type="submit"
                  [disabled]="!ISForm.form.valid"
                  label="Save"
                  class="bg-b-color ml"
                >
                </p-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
