<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast></p-toast>
          <div class="table-head mb-4">
            <h1 class="mb-4 h-color">Edit International Inbound By Road</h1>
            <p-toolbar>
              <div class="grid w-full">
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Origin Country :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.originCountry }}</label
                      >
                    </div>
                    <!-- <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Origin Port :</label>
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.originPort }}</label
                      >
                    </div> -->
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Refrigerated Vehicle :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.refrigeratedTruck }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Mode :</label> &nbsp;
                      <label for=""> {{ internationalShipment.type }}</label>
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Shipment Mode :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.shipmentMode }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Pre-Alert Number :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.preAlertNumber }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Destination Country :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.destinationCountry }}</label
                      >
                    </div>
                    <!-- <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Destination Port :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.destinationPort }}</label
                      >
                    </div> -->
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Route Number :</label>
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.routeNumber }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">ETD :</label> &nbsp;
                      <label for="">
                        {{
                          internationalShipment.etd | date : "shortDate"
                        }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">ETA :</label> &nbsp;
                      <label for="">
                        {{
                          internationalShipment.eta | date : "shortDate"
                        }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">ATD :</label> &nbsp;
                      <label for="">
                        {{
                          internationalShipment.atd | date : "shortDate"
                        }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Weight in kg :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.actualWeight }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Number of Shipments :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.numberOfShipments }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Driver Name:</label>
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.driverName }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Driver Contact :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.driverContact }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Master CONS :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.referenceNumber }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Vehicle Type :</label>
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.vehicleType }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Number of Pallets :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.numberOfPallets }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Number of Bags :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.numberOfBags }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Vehicle Number :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.vehicleNumber }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Security Tag :</label>
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.tagNumber }}</label
                      >
                    </div>
                    <!-- <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Seal Number :</label>
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.sealNumber }}</label
                      >
                    </div> -->
                  </div>
                </div>
              </div>
            </p-toolbar>
          </div>
          <div class="card">
            <form #ISForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Status</label>
                    <p-dropdown
                      class="w-full"
                      [options]="shipmentStatus.productFieldValuesList"
                      #status="ngModel"
                      (onChange)="onTallyStatus(internationalShipment.status!)"
                      name="status"
                      [required]="true"
                      [(ngModel)]="internationalShipment.status"
                      optionValue="name"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Status"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.status }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-shipmentStatus pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ shipmentStatus.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Remarks</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.remarks"
                      #remarks="ngModel"
                      name="remarks"
                      [required]="true"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        remarks.invalid && (remarks.dirty || remarks.touched)
                      "
                      >Remarks is required.</small
                    >
                  </div>
                </div>

                <!-- 10 -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ATA</label>
                    <p-calendar
                      #ata="ngModel"
                      name="ata"
                      [(ngModel)]="internationalShipment.ata"
                      [stepMinute]="5"
                      [defaultDate]="defaultDate"
                      [required]="required"
                      [showTime]="true"
                      [selectOtherMonths]="true"                    
                    ></p-calendar>
                    <!-- <small id="name-help"
                          >{{name}}</small
                        > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Total Shipments</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.totalShipments"
                      #totalShipments="ngModel"
                      name="totalShipments"
                      [required]="required"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        totalShipments.invalid &&
                        (totalShipments.dirty || totalShipments.touched)
                      "
                      >Total Shipments is required.</small
                    >
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Overages</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.overages"
                      #overages="ngModel"
                      name="overages"
                      [required]="required"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        overages.invalid && (overages.dirty || overages.touched)
                      "
                      >Overages is required.</small
                    >
                  </div>
                </div>
                <!-- 11 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Overage AWBs</label>
                    <div class="card p-fluid">
                      <input
                      pInputText
                      (input)="onPasteOveragesAwbs()"
                      id="name"
                      pattern="^\d{12}(?:,\d{12})*$"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.overageAWBs"
                      #overageAWBs="ngModel"
                    
                      name="overageAWBs"
                    />
                    <small
                    class="color-red error"
                    *ngIf="overageAWBs.invalid && (overageAWBs.dirty || overageAWBs.touched ) && overageAWBs?.errors?.['required']"
                  >
                  Overage AWBs Number is required.
                  </small>
                  <small
                    class="color-red error"
                    *ngIf="overageAWBs.invalid && (overageAWBs.dirty || overageAWBs.touched ) && overageAWBs?.errors?.['pattern']"
                  >
                    Invalid pattern
                  </small>
                  </div>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Received</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      #received="ngModel"
                      name="received"
                      [required]="required"
                      [(ngModel)]="internationalShipment.received"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        received.invalid && (received.dirty || received.touched)
                      "
                      >Received is required.</small
                    >
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Shortages</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      #shortages="ngModel"
                      name="shortages"
                      [required]="required"
                      [(ngModel)]="internationalShipment.shortages"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        shortages.invalid &&
                        (shortages.dirty || shortages.touched)
                      "
                      >Shortages is required.</small
                    >
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Shortages AWBs</label>
                    <div class="card p-fluid">
                      <input
                      pInputText
                      (input)="onPasteShortagesAwbs()"
                      id="name"
                      pattern="^\d{12}(?:,\d{12})*$"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.shortageAWBs"
                      #shortagesAwbs="ngModel"
                      name="shortagesAwbs"
                    />
                    <small
                    class="color-red error"
                    *ngIf="shortagesAwbs.invalid && (shortagesAwbs.dirty || shortagesAwbs.touched )&&shortagesAwbs?.errors?.['required']"
                  >
                  Shortage AWBs Number is required.
                  </small>
                  <small
                    class="color-red error"
                    *ngIf="shortagesAwbs.invalid && (shortagesAwbs.dirty || shortagesAwbs.touched )&&shortagesAwbs?.errors?.['pattern']"
                  >
                    Invalid pattern
                  </small>
                  </div>
                  </div>
                </div>
              </div>

              <div class="flex align-items-center justify-content-end mt-4">
                <p-button
                  label="Cancel"
                  class="bg-o-color mr"
                  routerLink="/international-shipment-by-road"
                  styleClass="p-button-outlined"
                >
                </p-button>
                <p-button
                  type="submit"
                  [disabled]="!ISForm.form.valid"
                  label="Update"
                  class="bg-b-color ml"
                >
                </p-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
