<div class="flex flex-row">
    <app-sidebar></app-sidebar>
    <div class="body-position">
        <div class="body-holder">
            <app-dashboard-head></app-dashboard-head>

            <div class="main">
                <div class="card flex justify-content-center">
                    <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
                </div>
                <div class="body-card">
                    <p-toast></p-toast>
                    <div class="table-head mb-4">
                   
                        <div class="sm:col-6 lg:col-12 md:col-12">
                          <div class="grid">
                            <div class="col-6">
                              <h1 class="mb-4 h-color">View International Inbound By Road</h1>
                            </div>
                            <div class="col-6">
                              <a style="float: right;" href="mailto:abc@something.com,lmn@something.com,xyz@something.com,fgh@something.com ?Cc=abc@something.com,lmn@something.com,xyz@something.com,fgh@something.com">
                                <p-button         
                                class="bg-b-color"
                              >
                                <i
                                  class="bi bi-send"
                                  style="font-size: 20px; font-weight: bold"
                                ></i
                                >&nbsp;Send Mail
                              </p-button>
                              </a>
                            
                            </div>
                          </div>
                      
                        </div>
                        <p-toolbar>
                            <div class="grid w-full">
                              <div class="lg:col-12 md:col-6 col-12">
                                <div class="grid">
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable"
                                      >Origin Country :</label
                                    >
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.originCountry }}</label
                                    >
                                  </div>
                                  <!-- <div class="lg:col-4 md:col-12 col-12"><label for=""
                                                              class="heading-lable">Origin Port :</label> &nbsp;
                                                          <label for="" class="fr mr-8"> {{internationalShipment.originPort}}</label>
                                                      </div> -->
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable"
                                      >Refrigerated Vehicle :</label
                                    >
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.refrigeratedTruck }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable">Mode :</label> &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.type }}</label
                                    >
                                  </div>
                                </div>
                              </div>
                              <div class="lg:col-12 md:col-6 col-12">
                                <div class="grid">
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable"
                                      >Shipment Mode :</label
                                    >
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.shipmentMode }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable"
                                      >Pre-Alert Number :</label
                                    >
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.preAlertNumber }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                      <label for="" class="heading-lable"
                                        >Destination Country :</label
                                      >
                                      &nbsp;
                                      <label for="" class="fr mr-8">
                                        {{ internationalShipment.destinationCountry }}</label
                                      >
                                    </div>
                                </div>
                              </div>
                              <div class="lg:col-12 md:col-6 col-12">
                                <div class="grid">
                                 
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable"
                                      >Number Of Boxes :</label
                                    >
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.numberOfBoxes }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable">Route Number :</label>
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.routeNumber }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                      <label for="" class="heading-lable">ETD :</label> &nbsp;
                                      <label for="" class="fr mr-8">
                                        {{
                                          internationalShipment.etd | date : "shortDate"
                                        }}</label
                                      >
                                    </div>
              
                                </div>
                              </div>
                              <div class="lg:col-12 md:col-6 col-12">
                                <div class="grid">
                                 
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable">ETA :</label> &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{
                                        internationalShipment.eta | date : "shortDate"
                                      }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable">ATD :</label> &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{
                                        internationalShipment.atd | date : "shortDate"
                                      }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                      <label for="" class="heading-lable">Weight in kg :</label>
                                      &nbsp;
                                      <label for="" class="fr mr-8">
                                        {{ internationalShipment.actualWeight }}</label
                                      >
                                    </div>
              
                                </div>
                              </div>
                              <div class="lg:col-12 md:col-6 col-12">
                                <div class="grid">
                                
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable"
                                      >Number of Shipments :</label
                                    >
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.numberOfShipments }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable">Driver Name:</label>
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.driverName }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                      <label for="" class="heading-lable"
                                        >Driver Contact :</label
                                      >
                                      &nbsp;
                                      <label for="" class="fr mr-8">
                                        {{ internationalShipment.driverContact }}</label
                                      >
                                    </div>
                                </div>
                              </div>
                              <div class="lg:col-12 md:col-6 col-12">
                                <div class="grid">
                                
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable">Master CONS :</label>
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.referenceNumber }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable">Vehicle Type :</label>
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.vehicleType }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                      <label for="" class="heading-lable"
                                        >Number of Pallets :</label
                                      >
                                      &nbsp;
                                      <label for="" class="fr mr-8">
                                        {{ internationalShipment.numberOfPallets }}</label
                                      >
                                    </div>
              
                                </div>
                              </div>
                              <div class="lg:col-12 md:col-6 col-12">
                                <div class="grid">
                                 
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable"
                                      >Number of Bags :</label
                                    >
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.numberOfBags }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable"
                                      >Vehicle Number :</label
                                    >
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.vehicleNumber }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                      <label for="" class="heading-lable">Status :</label>
                                      &nbsp;
                                      <label for="" class="fr mr-8">
                                        {{ internationalShipment.status }}</label
                                      >
                                    </div>
              
                                </div>
                              </div>
                              
                              <div class="lg:col-12 md:col-6 col-12">
                                <div class="grid">
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable">Remarks :</label>
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.remarks }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable">ATA :</label> &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{
                                        internationalShipment.ata | date : "shortDate"
                                      }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable"
                                      >Total Shipments :</label
                                    >
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.totalShipments }}</label
                                    >
                                  </div>
                                </div>
                              </div>
                              <div class="lg:col-12 md:col-6 col-12">
                                <div class="grid">
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable">Overages :</label>
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.overages }}</label
                                    >
                                  </div>
                                  <!-- <div class="lg:col-4 md:col-12 col-12"><label for="" class="heading-lable">Overages AWBs :</label> &nbsp;
                                                          <label for="" class="fr mr-8"> {{internationalShipment.overageAWBs}}</label>
                                                      </div> -->
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable">Received :</label>
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.received }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                      <label for="" class="heading-lable">Shortages :</label>
                                      &nbsp;
                                      <label for="" class="fr mr-8">
                                        {{ internationalShipment.shortages }}</label
                                      >
                                    </div>
                                </div>
                              </div>
                              <div class="lg:col-12 md:col-6 col-12">
                                <div class="grid">
                                 
                                  <!-- <div class="lg:col-4 md:col-12 col-12"><label for="" class="heading-lable">Shortages AWBs :</label> &nbsp;
                                                          <label for="" class="fr mr-8"> {{internationalShipment.shortageAWBs}}</label>
                                                      </div> -->
                                  <div class="lg:col-4 md:col-12 col-12">
                                    <label for="" class="heading-lable"
                                      >Pre-Alert Type :</label
                                    >
                                    &nbsp;
                                    <label for="" class="fr mr-8">
                                      {{ internationalShipment.preAlertType }}</label
                                    >
                                  </div>
                                  <div class="lg:col-4 md:col-12 col-12">
                                      <label for="" class="heading-lable">Manifested :</label>
                                      &nbsp;
                                      <label for="" class="fr mr-8">
                                        {{ internationalShipment.numberOfShipments }}</label
                                      >
                                    </div>
                                    <div class="lg:col-4 md:col-12 col-12">
                                      <label for="" class="heading-lable"
                                        >Transit Time Taken :</label
                                      >
                                      &nbsp;
                                      <label for="" class="fr mr-8">
                                        {{ internationalShipment.transitTimeTaken }}</label
                                      >
                                    </div>
              
                                </div>
                              </div>
                             
                              <div class="lg:col-12 md:col-6 col-12">
                                <p-table
                                  [value]="resultArray"
                                  styleClass="p-datatable-gridlines"
                                  [tableStyle]="{ 'min-width': '50rem' }"
                                >
                                  <ng-template pTemplate="header">
                                    <tr>
                                      <th class="text-center primer-color">
                                        Overages AWBs
                                        <p-chip  (click)="onCopiedAnimationOveragesAWBs()" *ngIf="!AnimationOveragesAWBs" styleClass="pl-0 pr-3" class="f-right">
                                          <span
                                            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                                            ><i class="bi bi-copy"></i></span
                                          >
                                          <span class="ml-2 font-medium">copy</span>
                                        </p-chip>
                                        <p-chip *ngIf="AnimationOveragesAWBs" styleClass="pl-0 pr-3" class="f-right">
                                          <span
                                            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                                            ><i class="bi bi-check2"></i></span
                                          >
                                          <span class="ml-2 font-medium">copied!</span>
                                        </p-chip>
                                      </th>
                                      <th class="text-center primer-color">
                                        Shortages AWBs
                                        <p-chip   (click)="onCopiedAnimationShortagesAWBs()" *ngIf="!AnimationShortagesAWBs" styleClass="pl-0 pr-3" class="f-right">
                                          <span
                                            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                                            ><i class="bi bi-copy"></i></span
                                          >
                                          <span class="ml-2 font-medium">copy</span>
                                        </p-chip>
                                        <p-chip *ngIf="AnimationShortagesAWBs" styleClass="pl-0 pr-3" class="f-right">
                                          <span
                                            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                                            ><i class="bi bi-check2"></i></span
                                          >
                                          <span class="ml-2 font-medium">copied!</span>
                                        </p-chip>
                                      </th>
                                      <th class="text-center primer-color">
                                        Security Tag
                                        <p-chip  (click)="onCopiedAnimationSecurityTags()" *ngIf="!AnimationSecurityTag" styleClass="pl-0 pr-3" class="f-right">
                                          <span
                                            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                                            ><i class="bi bi-copy"></i></span
                                          >
                                          <span class="ml-2 font-medium">copy</span>
                                        </p-chip>
                                        <p-chip *ngIf="AnimationSecurityTag" styleClass="pl-0 pr-3" class="f-right">
                                          <span
                                            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                                            ><i class="bi bi-check2"></i></span
                                          >
                                          <span class="ml-2 font-medium">copied!</span>
                                        </p-chip>
                                      </th>
                                      <th class="text-center primer-color">
                                        Damage AWBs
                                        <p-chip  (click)="onCopiedAnimationDamageAWBs()" *ngIf="!AnimationDamageAWBs" styleClass="pl-0 pr-3" class="f-right">
                                          <span
                                            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                                            ><i class="bi bi-copy"></i></span
                                          >
                                          <span class="ml-2 font-medium">copy</span>
                                        </p-chip>
                                        <p-chip *ngIf="AnimationDamageAWBs" styleClass="pl-0 pr-3" class="f-right">
                                          <span
                                            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                                            ><i class="bi bi-check2"></i></span
                                          >
                                          <span class="ml-2 font-medium">copied!</span>
                                        </p-chip>
                                      </th>
                                    </tr>
                                  </ng-template>
                                  <ng-template pTemplate="body" let-resultArray>
                                    <tr>
                                      <td class="text-center">
                                        {{ resultArray.overagesAWBs }}
                                      </td>
                                      <td class="text-center">
                                        {{ resultArray.shortagesAWBs }}
                                      </td>
                                      <td class="text-center">
                                        {{ resultArray.securityTag }}
                                      </td>
                                      <td class="text-center">
                                        {{ resultArray.damageAWBs }}
                                      </td>
                                    </tr>
                                  </ng-template>
                                </p-table>
                              </div>
                            </div>
                          </p-toolbar>
                        </div>
                        <div class="table-head">
                          <h2 class="h-color mb-3">International Outbound History By Road</h2>
                        </div>
              
                        <div class="card">
                          <p-table
                            [value]="InternationalShipmentHistory"
                            [tableStyle]="{ 'min-width': '50rem' }"
                          >
                            <ng-template pTemplate="header">
                              <tr>
                                <th class="text-center">Status</th>
              
                                <th class="text-center">Process time</th>
              
                                <th class="text-center">Location Code</th>
              
                                <th class="text-center">User</th>
              
                                <th class="text-center">Remarks</th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-InternationalShipmentHistory>
                              <tr>
                                <td class="text-center">
                                  {{ InternationalShipmentHistory.status }}
                                </td>
                                <td class="text-center">
                                  {{
                                    InternationalShipmentHistory.processTime
                                      | date : "MM/dd/yyyy hh:mm"
                                  }}
                                </td>
                                <td class="text-center">
                                  {{ InternationalShipmentHistory.locationCode }}
                                </td>
                                <td class="text-center">
                                  {{ InternationalShipmentHistory.user }}
                                </td>
                                <td class="text-center">
                                  {{ InternationalShipmentHistory.remarks }}
                                </td>
              
                                <!-- <td class="text-center"> 
                                              <p-button routerLink="/edit-location"  icon="bi bi-pen"  tooltipPosition="top" pTooltip="Edit"  class='mr' styleClass="p-button-rounded p-button-success p-button-text p-button-raised">
                                               
                                              </p-button>
                                               <p-button  icon="bi bi-trash"  tooltipPosition="top" pTooltip="Delete"  class='ml' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                                              
                                               </p-button>
                                            </td> -->
                              </tr>
                            </ng-template>
                          </p-table>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>

