<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast></p-toast>
          <div class="card">
            <h1 class="mb-4 h-color">Add User</h1>
            <form #userForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="grid">
                <div class="col-12 md:col-12 lg:col-12">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Name</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="user.name" name="name"
                      #name="ngModel" required />
                    <small id="name-help" class="color-red" *ngIf="name.invalid && (name.dirty || name.touched)">Name is
                      required.</small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="email">Email</label>
                    <input pInputText id="email" aria-describedby="email-help" [(ngModel)]="user.email" #email="ngModel"
                      name="email" required />
                    <small id="name-help" class="color-red"
                      *ngIf="email.invalid && (email.dirty || email.touched)">Email is required.</small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">EmployeeId</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="user.employeeId" name="employeeId"
                      #name="ngModel" required />
                    <small id="name-help" class="color-red" *ngIf="name.invalid && (name.dirty || name.touched)">employeeId is
                      required.</small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2 form-hook1">
                    <label htmlFor="password">Password</label>

                    <p-password [(ngModel)]="user.password" #password="ngModel" name="password" required
                      [toggleMask]="true"></p-password>
                    <small id="name-help" class="color-red"
                      *ngIf="password.invalid && (password.dirty || password.touched)">Password is required.</small>
                  </div>
                </div>
                <!-- <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Location</label>
                    <p-dropdown class="w-full" [options]="locations" [required]="true" name="location"
                      #location="ngModel" [(ngModel)]="user.location" optionValue="locationName"
                      optionLabel="locationName" [filter]="true" filterBy="locationName" [showClear]="true"
                      placeholder="Select a Country">
                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="user">
                          <div>{{ user.location}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-locations pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ locations!.locationName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div> -->
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Role

                    </label>
                    <p-dropdown class="w-full" [options]="roles" [required]="true" name="role" #role="ngModel"
                      [(ngModel)]="user.roles![0]" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                      placeholder="Select a Role
                  ">
                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="user">
                          <div>{{user.roles![0].name}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-roles pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ roles.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-12 lg:col-12">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">All Locations

                    </label>
                    <div class="card">
                    
                      <p-table [value]="locationsList" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                          <tr>

                            <th class="text-center">Location Name</th>
                            <th class="text-center">Location Type</th>
                            <th class="text-center">Facility</th>
                            <th class="text-center">Country</th>
                            <th class="text-center">Location</th>
                            <th class="text-center">Domestic Origin</th>
                            <th class="text-center">Domestic Destination</th>
                            <th class="text-center">International Air Origin</th>
                            <th class="text-center">International Air Destination</th>
                            <th class="text-center">International Road Origin</th>
                            <th class="text-center">International Road Destination</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-location>
                          <tr>
                            <td class="text-center">{{ location.locationName }}</td>
                            <td class="text-center">{{ location.type }}</td>
                            <td class="text-center">{{ location.facility.name }}</td>
                            <td class="text-center">{{ location.country.name }}</td>
                            <td class="text-center">
                              <div class="card flex justify-content-center">
                                <p-checkbox  [(ngModel)]="user.locations"    [value]="location" name="binary1" inputId="binary1"></p-checkbox>
                              </div>
                            </td>
                            <td class="text-center">
                              <div class="card flex justify-content-center">
                                <p-checkbox [(ngModel)]="user.domesticOriginLocations" *ngIf="location.type == 'Domestic'"  [value]="location" [name]="'binary0'+location.id" ></p-checkbox>
                              </div>
                            </td>
                            <td class="text-center">
                              <div class="card flex justify-content-center">
                                <p-checkbox [(ngModel)]="user.domesticDestinationLocations" *ngIf="location.type == 'Domestic'" [value]="location" [name]="'binary1'+location.id"></p-checkbox>
                              </div>
                            </td>
                        
                            <td class="text-center">
                             
                              <div class="card flex justify-content-center">
                              
                               
                                <p-checkbox [(ngModel)]="user.internationalAirOriginLocation" *ngIf="location.type == 'International Air'"   [value]="location" [name]="'binary2'+location.id"></p-checkbox>
                              </div>
                            </td>
                            <td class="text-center">
                              <div class="card flex justify-content-center">
                                <p-checkbox [(ngModel)]="user.internationalAirDestinationLocation" *ngIf="location.type == 'International Air'"  [value]="location" [name]="'binary3'+location.id"></p-checkbox>
                              </div>
                            </td>
                            <td class="text-center">
                              <div class="card flex justify-content-center">
                                <p-checkbox [(ngModel)]="user.internationalRoadOriginLocation" *ngIf="location.type == 'International Road'"  [value]="location" [name]="'binary4'+location.id"></p-checkbox>
                              </div>
                            </td>
                            <td class="text-center">
                              <div class="card flex justify-content-center">
                                <p-checkbox [(ngModel)]="user.internationalRoadDestinationLocation" *ngIf="location.type == 'International Road'"  [value]="location" [name]="'binary5'+location.id"></p-checkbox>
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex align-items-center justify-content-end mt-4">
                <p-button label="Cancel" class="bg-o-color mr" routerLink="/user" styleClass="p-button-outlined">
                </p-button>
                <p-button type="submit" [disabled]="!userForm.form.valid" label="Save" class="bg-b-color ml">
                </p-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>