<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <div class="table-head">
            <p-toolbar>
              <div class="p-toolbar-group-start">
                <h2 class="h-color">International Shipment By Road</h2>
              </div>
              <div class="p-toolbar-group-end">
                <p-button
                  class="bg-b-color"
                  routerLink="/add-international-shipment-by-road"
                >
                  <i
                    class="bi bi-plus-lg"
                    style="font-size: 20px; font-weight: bold"
                  ></i
                  >&nbsp;Add Shipment
                </p-button>
              </div>
            </p-toolbar>
          </div>

          <p-toolbar>
            <form class="w-full" #domesticShipmentForm="ngForm" (ngSubmit)="searchByFilter()">

              <div class="grid w-full">
                    <div class="xl:col-2 lg:col-4 md:col-6 col-12">
                      <div class="flex flex-column gap-2 form-hook">
                        <label htmlFor="name">From Date</label>
                          <p-calendar [(ngModel)]="fromDate" #fromDate1="ngModel" name="fromDate1"></p-calendar>
                      </div>
                    </div>

                    <div class="xl:col-2  lg:col-4 md:col-6 col-12">
                      <div class="flex flex-column gap-2 form-hook">
                        <label htmlFor="name">To Date</label>
                          <p-calendar [(ngModel)]="toDate" #toDate1="ngModel" name="toDate1"></p-calendar>
                      </div>
                    </div>



                    <div class="xl:col-2  lg:col-4 md:col-6 col-12">
                      <div class="flex flex-column gap-2 form-hook">
                        <label htmlFor="name">Status</label>
                        <p-dropdown class="w-full" [options]="shipmentStatus" name="status1" #status1="ngModel"
                          [(ngModel)]="status" optionLabel="name" optionValue="name"
                          placeholder="Select a Status">
                          <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="status">
                              <div>{{ status }}</div>
                            </div>
                          </ng-template>
                          <ng-template let-shipmentStatus pTemplate="item">
                            <div class="flex align-items-center gap-2">
                              <div>{{ shipmentStatus.name }}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                      </div>
                    </div>
                    <div  class="xl:col-2  lg:col-4 md:col-6 col-12">
                      <div class="flex flex-column gap-2">
                        <label htmlFor="name">Origin</label>
                        <input pInputText id="name" aria-describedby="name-help" #origin1="ngModel" name="origin1"
                          [(ngModel)]="origin" />
                      </div>
                    </div>
                    <div  class="xl:col-2  lg:col-4 md:col-6 col-12">
                      <div class="flex flex-column gap-2">
                        <label htmlFor="name">Destination</label>
                        <input pInputText id="name" aria-describedby="name-help" #destination1="ngModel" name="destination1"
                          [(ngModel)]="destination" />
                      </div>
                    </div>
                    <div  class="xl:col-2  lg:col-4 md:col-6 col-12">
                      <div class="flex flex-column gap-2">
                        <label htmlFor="name">Route Number</label>
                        <input pInputText id="name" aria-describedby="name-help" #routeNumber1="ngModel" name="routeNumber1"
                          [(ngModel)]="routeNumber" />
                      </div>
                    </div>

                <div class="xl:col-12 lg:col-12 md:col-12 col-12 flex justify-content-end align-items-end">
                  <p-button class="bg-b-color mr" (click)="clearFilter()" >
                    Clear
                  </p-button>
                  <p-button type="submit"  label="Search"
                    class="bg-b-color ml">
                  </p-button>
                </div>
              </div>
            </form>
          </p-toolbar>

          <div class="card">
            <p-table
              [value]="internationalShipmentByRoad"
              [tableStyle]="{ 'min-width': '50rem' }"
            >
             
              <ng-template pTemplate="header">
                <tr>
                  <th class="text-center">Origin Country</th>
                  <th class="text-center">Origin Port</th>
                  <th class="text-center">Referigirated Truck</th>
                  <th class="text-center">Mode</th>
                  <th class="text-center">Shipment Mode</th>
                  <th class="text-center">Pre-Alert Number</th>
                  <th class="text-center">Destination Country</th>
                  <th class="text-center">Destination Port</th>
                  <th class="text-center">Route Number</th>
                  <th class="text-center">ETD</th>
                  <th class="text-center">ETA</th>
                  <th class="text-center">ATD</th>
                  <th class="text-center">Actual Weight</th>
                  <th class="text-center">Number of Shipments</th>
                  <th class="text-center">Driver Name</th>
                  <th class="text-center">Driver Contact</th>
                  <th class="text-center">Reference Number</th>
                  <th class="text-center">Vehicle Type</th>
                  <th class="text-center">Number of Pallets</th>
                  <th class="text-center">Number of Bags</th>
                  <th class="text-center">Vehicle Number</th>
                  <th class="text-center">Tag Number</th>
                  <th class="text-center">Seal Number</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Remarks</th>
                  <th class="text-center">ATA</th>
                  <th class="text-center">Total Shipments</th>
                  <th class="text-center">Overages</th>
                  <th class="text-center">Overage AWBS</th>
                  <th class="text-center">Received</th>
                  <th class="text-center">Shortages</th>
                  <th class="text-center">Shortage AWBs</th>
                  <th class="text-center">Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-internationalShipmentByRoad>
                <tr>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.originCountry }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.originPort }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.refrigeratedTruck }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.type }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.shipmentMode }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.preAlertNumber }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.destinationCountry }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.destinationPort }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.routeNumber }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.etd }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.eta }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.atd }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.actualWeight }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.numberOfShipments }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.driverName }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.driverContact }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.referenceNumber }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.vehicleType }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.numberOfPallets }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.numberOfBags }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.vehicleNumber }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.tagNumber }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.sealNumber }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.status }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.remarks }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.ata }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.totalShipments }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.overages }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.overageAWBs }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.received }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.shortages }}
                  </td>
                  <td class="text-center">
                    {{ internationalShipmentByRoad.shortageAWBs }}
                  </td>
                  <td class="text-center flex flex-row">
                    <p-button
                      [routerLink]="[
                        '/view-international-road/',
                        internationalShipmentByRoad.id
                      ]"
                      icon="bi bi-eye"
                      class="mr"
                      styleClass="p-button-rounded p-button-success p-button-text p-button-raised"
                    >
                    </p-button>
                    <p-button
                      icon="bi bi-clock-history"
                      [routerLink]="[
                        '/international-shipment-history-by-road/',
                        internationalShipmentByRoad.id
                      ]"
                      class="mr"
                      styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"
                    >
                    </p-button>
                    <p-button
                      [routerLink]="[
                        '/view-attachments/',
                        'internationalShipment',
                        'by-international-road-list',
                        internationalShipmentByRoad.id
                      ]"
                      icon="bi bi-download"
                      class="mr"
                      styleClass="p-button-rounded p-button-success p-button-text p-button-raised"
                    >
                    </p-button>
                    <p-button
                      [routerLink]="[
                        '/add-international-by-road-attachments/',
                        internationalShipmentByRoad.id
                      ]"
                      icon="bi bi-paperclip"
                      class="ml mr"
                      styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"
                    >
                    </p-button>
                    <p-button
                      [routerLink]="[
                        '/update-international-shipment-by-road',
                        internationalShipmentByRoad.id
                      ]"
                      icon="bi bi-pen"
                      class="ml mr"
                      styleClass="p-button-rounded p-button-success p-button-text p-button-raised"
                    >
                    </p-button>
                    <p-button
                      icon="bi bi-trash"
                      class="ml"
                      styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"
                    >
                    </p-button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="card flex justify-content-center">
              <p-paginator
                [rows]="paginatedRes?.size"
                [first]="paginatedRes?.pageable.pageNumber * paginatedRes?.size"
                [totalRecords]="paginatedRes?.totalElements"
                (onPageChange)="onPageChange($event)"
                [showCurrentPageReport]="true"
              ></p-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
