<nav class="main-menu">
  <div class="sidebar-head">
    <img src="../../../assets/smca-logo.png" alt="" class="sidebar-img" />
  </div>
  <ul>
    <li>
      <span class="sidebar-list-hover" routerLink="/home">
        <i class="bi bi-bar-chart-line-fill"></i>
        <span class="nav-text"> Dashboard </span>
      </span>
    </li>
      <!-- <li class="child" *ngIf="hasPermission('Domestic Shipment')">
      <span class="sidebar-list-hover" routerLink="/domestic-shipping">
        <i class="bi bi-train-freight-front-fill"></i>
        <span class="nav-text">Domestic Outbound</span>
      </span>
    </li> -->
    <li (click)="turner2()">
      <span class="sidebar-list-hover">
        <i class="bi bi-gear-fill"></i>
        <span class="nav-text">
          Outbound
          <i
            *ngIf="configTurner2"
            style="display: inline; font-size: 15px"
            class="bi bi-caret-down-fill"
          ></i>
          <i
            *ngIf="!configTurner2"
            style="display: inline; font-size: 15px"
            class="bi bi-caret-right-fill"
          ></i>
        </span>
      </span>
    </li>

    <li class="child" *ngIf="configTurner2 && hasPermission('Domestic Shipment')">
      <span class="sidebar-list-hover" routerLink="/domestic-shipping">
        <i class="bi bi-car-front"></i>
        <span class="nav-text"> Domestic Outbound </span>
      </span>
    </li>
    <li class="child" *ngIf="configTurner2 && hasPermission('Domestic Shipment')">
      <span class="sidebar-list-hover" routerLink="/international-shipment-by-road">
        <i class="bi bi-car-front"></i>
        <span class="nav-text"> International Outbound By Road</span>
      </span>
    </li>
    <li class="child" *ngIf="configTurner2 && hasPermission('Domestic Shipment')">
      <span class="sidebar-list-hover" routerLink="/international-shipment-by-air">
        <i class="bi bi-car-front"></i>
        <span class="nav-text"> International Outbound By Air</span>
      </span>
    </li>
    <!-- <li
      class="child"
      *ngIf="
        this.hasPermission('International Shipment By Road') ||
        this.hasPermission('International Shipment By Air')
      "
    >
      <span class="sidebar-list-hover" routerLink="/international-tile">
        <i class="bi bi-airplane-fill"></i>
        <span class="nav-text"> International Outbound </span>
      </span>
    </li> -->
    <li (click)="turner3()">
      <span class="sidebar-list-hover">
        <i class="bi bi-gear-fill"></i>
        <span class="nav-text">
          Intbound
          <i
            *ngIf="configTurner3"
            style="display: inline; font-size: 15px"
            class="bi bi-caret-down-fill"
          ></i>
          <i
            *ngIf="!configTurner3"
            style="display: inline; font-size: 15px"
            class="bi bi-caret-right-fill"
          ></i>
        </span>
      </span>
    </li>
    <li class="child" *ngIf="configTurner3 && hasPermission('Domestic Summary')">
      <span class="sidebar-list-hover" routerLink="/domestic-summary">
        <i class="bi bi-journal-text"></i>
        <span class="nav-text"> Domestic Inbound </span>
      </span>
    </li>
    <li class="child" *ngIf="configTurner3 && hasPermission('International Summary By Air')">
      <span
        class="sidebar-list-hover"
        routerLink="/international-summary-by-air"
      >
        <i class="bi bi-journal-text"></i>
        <span class="nav-text"> International Inbound By Air </span>
      </span>
    </li>
    <li class="child" *ngIf="configTurner3 && hasPermission('International Summary By Road')">
      <span
        class="sidebar-list-hover"
        routerLink="/international-summary-by-road"
      >
        <i class="bi bi-journal-text"></i>
        <span class="nav-text"> International Inbound By Road </span>
      </span>
    </li>

    <li class="child" *ngIf="hasPermission('Reports')">
      <span
        class="sidebar-list-hover"
        routerLink="/report-tiles"
      >
        <i class="bi bi-clipboard2-pulse"></i>
        <span class="nav-text">Reports</span>
      </span>
    </li>
    <!-- <li class="child" *ngIf="hasPermission('Email Management')">
      <span
        class="sidebar-list-hover"
        routerLink="/emailManagement"
      >
      <i class="bi bi-envelope"></i>
        <span class="nav-text"> Email management </span>
      </span>
    </li> -->
    <li class="child" *ngIf="hasPermission('User')">
      <span class="sidebar-list-hover" routerLink="/user">
        <i class="bi bi-people-fill"></i>
        <span class="nav-text"> User </span>
      </span>
    </li>
    <li (click)="turner()">
      <span class="sidebar-list-hover">
        <i class="bi bi-gear-fill"></i>
        <span class="nav-text">
          Configuration
          <i
            *ngIf="configTurner"
            style="display: inline; font-size: 15px"
            class="bi bi-caret-down-fill"
          ></i>
          <i
            *ngIf="!configTurner"
            style="display: inline; font-size: 15px"
            class="bi bi-caret-right-fill"
          ></i>
        </span>
      </span>
    </li>

    <li class="child" *ngIf="configTurner && hasPermission('Driver')">
      <span class="sidebar-list-hover" routerLink="/driver">
        <i class="bi bi-car-front"></i>
        <span class="nav-text"> Driver </span>
      </span>
    </li>
    <li class="child" *ngIf="configTurner && hasPermission('Location')">
      <span class="sidebar-list-hover" routerLink="/location">
        <i class="bi bi-geo-alt"></i>
        <span class="nav-text"> Location </span>
      </span>
    </li>
    <li class="child" *ngIf="configTurner && hasPermission('ShipmentRoutes')">
      <span class="sidebar-list-hover" routerLink="/domestic-routes">
        <i class="bi bi-train-freight-front-fill"></i>
        <span class="nav-text"> Domestic Outbound Routes </span>
      </span>
    </li>
    <li
      class="child"
      *ngIf="configTurner && hasPermission('ShipmentRoutesForAir')"
    >
      <span
        class="sidebar-list-hover"
        routerLink="/international-routes-for-air"
      >
      <i class="bi bi-airplane-fill"></i>
        <span class="nav-text"> International Outbound Routes For Air </span>
      </span>
    </li>
    <li
      class="child"
      *ngIf="configTurner && hasPermission('ShipmentRoutesForRoad')"
    >
      <span
        class="sidebar-list-hover"
        routerLink="/international-routes-for-road"
      >
      <i class="bi bi-train-freight-front-fill"></i>
        <span class="nav-text"> International Outbound Routes For Road </span>
      </span>
    </li>
    <li class="child" *ngIf="configTurner && hasPermission('Location Port')">
      <span class="sidebar-list-hover" routerLink="/location-port">
        <i class="bi bi-box-seam"></i>
        <span class="nav-text"> Location Port </span>
      </span>
    </li>
    <!-- <li class="child" *ngIf="configTurner && hasPermission('Shipment Status')">
      <span class="sidebar-list-hover" routerLink="/shipment-status">
        <i class="bi bi-toggles2"></i>
        <span class="nav-text"> Shipment Status </span>
      </span>
    </li> -->
    <li class="child" *ngIf="configTurner && hasPermission('Vehicle Type')">
      <span class="sidebar-list-hover" routerLink="/vehicle-type">
        <i class="bi bi-truck"></i>
        <span class="nav-text"> Vehicle Type </span>
      </span>
    </li>
    <li class="child" *ngIf="configTurner && hasPermission('Country')">
      <span class="sidebar-list-hover" routerLink="/country-list">
        <i class="bi bi-globe-americas"></i>
        <span class="nav-text"> Country </span>
      </span>
    </li>
    <li class="child" *ngIf="configTurner && hasPermission('Facility')">
      <span class="sidebar-list-hover" routerLink="/facility-list">
        <i class="bi bi-buildings"></i>
        <span class="nav-text"> Facility </span>
      </span>
    </li>
    <!-- <li class="child" *ngIf="configTurner">
      <span class="sidebar-list-hover" routerLink="/permission">
        <i class="bi bi-key"></i>
        <span class="nav-text"> Permission </span>
      </span>
    </li> -->
    <li class="child" *ngIf="configTurner && hasPermission('ProductField')">
      <span class="sidebar-list-hover" routerLink="/productFields">
        <i class="bi bi-menu-button-wide"></i>
        <span class="nav-text"> Product Fields </span>
      </span>
    </li>

    <li class="child" *ngIf="configTurner && hasPermission('Role')">
      <span class="sidebar-list-hover" routerLink="/role">
        <i class="bi bi-person-gear"></i>
        <span class="nav-text"> Role </span>
      </span>
    </li>
  </ul>
</nav>
