<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast></p-toast>
          <div class="table-head mb-4">
            <h1 class="mb-4 h-color">Edit International Inbound By Air</h1>
            <p-toolbar>
              <div class="grid w-full">
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Mode :</label> &nbsp;
                      <label for=""> {{ internationalShipment.type }}</label>
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Shipment Mode :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.shipmentMode }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Origin Country :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.originCountry }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <!-- <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Origin Port :</label>
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.originPort }}</label
                      >
                    </div> -->
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Pre-Alert Number :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.preAlertNumber }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Destination Country :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.destinationCountry }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <!-- <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Destination Port :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.destinationPort }}</label
                      >
                    </div> -->
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Route Number :</label>
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.routeNumber }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">ETD :</label> &nbsp;
                      <label for="">
                        {{
                          internationalShipment.etd | date : "shortDate"
                        }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">ETA :</label> &nbsp;
                      <label for="">
                        {{
                          internationalShipment.eta | date : "shortDate"
                        }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">ATD :</label> &nbsp;
                      <label for="">
                        {{
                          internationalShipment.atd | date : "shortDate"
                        }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Carrier :</label>
                      &nbsp;
                      <label for=""> {{ internationalShipment.carrier }}</label>
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Flight Number :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.flightNumber }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Number of Shipments :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.numberOfShipments }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Weight in kg :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.actualWeight }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Master CONS :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.referenceNumber }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Number of Pallets :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.numberOfPallets }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Number of Bags :</label
                      >
                      &nbsp;
                      <label for="">
                        {{ internationalShipment.numberOfBags }}</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </p-toolbar>
          </div>
          <div class="card">
            <form #ISForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Status</label>
                    <p-dropdown
                      class="w-full"
                      [options]="shipmentStatus?.productFieldValuesList"
                      name="status"
                      #status="ngModel"
                      (onChange)="onTallyStatus(internationalShipment.status!)"
                      [required]="true"
                      [(ngModel)]="internationalShipment.status"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Status"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.status }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-shipmentStatus pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ shipmentStatus.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Remarks</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.remarks"
                      #remarks="ngModel"
                      [required]="true"
                      name="remarks"
                    />
                    <small
                    class="color-red error"
                    *ngIf="remarks.invalid && (remarks.dirty || remarks.touched )&&remarks?.errors?.['required']"
                  >
                  Remarks AWBs Number is required.
                  </small>
                  </div>
                </div>
                <!-- 9 -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ATA</label>
                    <!-- <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.ata"
                        #ata="ngModel" required name="ata" /> -->
                    <p-calendar
                      [(ngModel)]="internationalShipment.ata"
                      #ata="ngModel"
                      name="ata"
                      [stepMinute]="5"
                      [defaultDate]="defaultDate"
                      [required]="required"
                      [showTime]="true"
                      [selectOtherMonths]="true"                    
                    ></p-calendar>
                    <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Total Shipments</label>
                    <p-inputNumber
                    
                      id="name"
                      aria-describedby="name-help"
                      [readonly]="true"
                      [(ngModel)]="internationalShipment.totalShipments"
                      #totalShipments="ngModel"
                      [required]="required"
                      name="totalShipments"
                      [useGrouping]="false"
                    ></p-inputNumber>
                    <small
                    class="color-red error"
                    *ngIf="totalShipments.invalid && (totalShipments.dirty || totalShipments.touched )&&totalShipments?.errors?.['required']"
                  >
                  Total Shipments AWBs Number is required.
                  </small>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Overages</label>
                    <p-inputNumber
                     
                      id="name"
                      aria-describedby="name-help"
                      (ngModelChange)="makePatternOfOverageAWBS(internationalShipment.overages!)"
                      [(ngModel)]="internationalShipment.overages"
                      #overages="ngModel"
                      [required]="required"
                      [disabled]='!(this.internationalShipment.status== "Tally" || this.internationalShipment.status=="Cleared")'
                      name="overages"
                      [useGrouping]="false"
                    ></p-inputNumber>
                    <small
                    class="color-red error"
                    *ngIf="overages.invalid && (overages.dirty || overages.touched )&&overages?.errors?.['required']"
                  >
                  overages is required.
                  </small>
                 

                  </div>
                </div>

                <!-- 10 -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Overage AWBs</label>
                    <div class="card p-fluid">
                      <input
                      pInputText
                      (input)="onPasteOveragesAwbs()"
                      [disabled]="internationalShipment.overages == 0 || internationalShipment.overages == null"
                      [required]="!(internationalShipment.overages == 0 || internationalShipment.overages == null)"
                      id="name"
                      [pattern]="pattern2"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.overageAWBs"
                      #overageAwbs="ngModel"
                      name="overageAwbs"
                    />
                    <small
                    class="color-red error"
                    *ngIf="overageAwbs.invalid && (overageAwbs.dirty || overageAwbs.touched )&&overageAwbs?.errors?.['required']"
                  >
                  Overage AWBs Number is required.
                  </small>
                  <small
                    class="color-red error"
                    *ngIf="overageAwbs.invalid && (overageAwbs.dirty || overageAwbs.touched )&&overageAwbs?.errors?.['pattern']"
                  >
                    Invalid pattern
                  </small>
                  </div>
                  </div>
                </div>


                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Received</label>
                    <p-inputNumber
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.received"
                      [required]="required"
                      #received="ngModel"
                      (onInput)="calculateOveragesAndShortages()" 
                      [useGrouping]="false"
                      name="received"
                      autocomplete="off" 
                    ></p-inputNumber>
                    <small
                    class="color-red error"
                    *ngIf="received.invalid && (received.dirty || received.touched )&&received?.errors?.['required']"
                  >
                  received is required.
                  </small>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Shortages</label>
                    <p-inputNumber
                      id="name"
                      aria-describedby="name-help"
                      (ngModelChange)="makePatternOfShortageAWBS(internationalShipment.shortages!)"
                      [(ngModel)]="internationalShipment.shortages"
                      [disabled]='!(this.internationalShipment.status== "Tally" || this.internationalShipment.status=="Cleared")'
                      #shortages="ngModel"
                      [required]="required"
                      name="shortages"
                      [useGrouping]="false"
                    ></p-inputNumber>
                    <small
                    class="color-red error"
                    *ngIf="shortages.invalid && (shortages.dirty || shortages.touched )&&shortages?.errors?.['required']"
                  >
                  shortages is required.
                  </small>
                  </div>
                </div>
                <!-- 11 -->
               

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Shortage AWBs</label>
                    <div class="card p-fluid">
                      <input
                      pInputText
                      (input)="onPasteShortagesAwbs()"
                      id="name"
                      [disabled]="internationalShipment.shortages == 0 || internationalShipment.shortages == null"
                      [pattern]="pattern3"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.shortageAWBs"
                      #shortagesAwbs="ngModel"
                      [required]="!(internationalShipment.shortages == 0 || internationalShipment.shortages == null)"
                      name="shortagesAwbs"
                    />
                    <small
                    class="color-red error"
                    *ngIf="shortagesAwbs.invalid && (shortagesAwbs.dirty || shortagesAwbs.touched )&&shortagesAwbs?.errors?.['required']"
                  >
                  Shortages Awbs Number is required.
                  </small>
                  <small
                    class="color-red error"
                    *ngIf="shortagesAwbs.invalid && (shortagesAwbs.dirty || shortagesAwbs.touched )&&shortagesAwbs?.errors?.['pattern']"
                  >
                    Invalid pattern
                  </small>
                  </div>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Damage</label>
                    <p-inputNumber
                    id="name"
                    [(ngModel)]="internationalShipment.damage"
                    (onInput)="makePatternOfDamageAWBS(internationalShipment.damage)"
                    [required]="required"
                    [disabled]='!(this.internationalShipment.status== "Tally" || this.internationalShipment.status=="Cleared")'
                    #damage="ngModel"
                    name="damage"
                    [useGrouping]="false"
                    autocomplete="off" 
                  ></p-inputNumber>    
                  <small
                  class="color-red error"
                  *ngIf="damage.invalid && (damage.dirty || damage.touched )&&damage?.errors?.['required']"
                >
                Damage is required.
                </small>          
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Damage AWBs</label>
                    <div class="card p-fluid">
                      <input
                      pInputText

                      id="name"
                      [disabled]="internationalShipment.damage == 0 || internationalShipment.damage == null"
                      [pattern]="pattern1"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.damageAwbs"
                      #damageAwbs="ngModel"
                      [required]="!(internationalShipment.damage == 0 || internationalShipment.damage == null)"
                      name="damageAwbs"
                    />
                    <small
                    class="color-red error"
                    *ngIf="damageAwbs.invalid && (damageAwbs.dirty || damageAwbs.touched )&&damageAwbs?.errors?.['required']"
                  >
                  Damage AWBs Number is required.
                  </small>
                  <small
                    class="color-red error"
                    *ngIf="damageAwbs.invalid && (damageAwbs.dirty || damageAwbs.touched )&&damageAwbs?.errors?.['pattern']"
                  >
                    Invalid pattern
                  </small>
                  </div>
                  </div>
                </div>


                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number Of Pallets Received</label>
                    <p-inputNumber
                    id="name"
                    [(ngModel)]="internationalShipment.numberOfPalletsReceived"
                    [required]="required"
                    #numberOfPalletsReceived="ngModel"
                    name="numberOfPalletsReceived"
                    [useGrouping]="false"
                    autocomplete="off" 
                  ></p-inputNumber>     
                  <small
                  class="color-red error"
                  *ngIf="numberOfPalletsReceived.invalid && (numberOfPalletsReceived.dirty || numberOfPalletsReceived.touched ) && numberOfPalletsReceived?.errors?.['required']"
                >
                Number Of Pallets Received is required.
                </small>         
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number Of Bags Received</label>
                    <p-inputNumber
                    id="name"
                    [required]="required"
                    [(ngModel)]="internationalShipment.numberOfBagsReceived"
                    #numberOfBagsReceived="ngModel"
                    name="numberOfBagsReceived"
                    [useGrouping]="false"
                    autocomplete="off" 
                  ></p-inputNumber>  
                  <small
                  class="color-red error"
                  *ngIf="numberOfBagsReceived.invalid && (numberOfBagsReceived.dirty || numberOfBagsReceived.touched ) && numberOfBagsReceived?.errors?.['required']"
                >
                Number Of Bags Received is required.
                </small>               
                  </div>
                </div>
              </div>

              <div class="flex align-items-center justify-content-end mt-4">
                <p-button
                  label="Cancel"
                  class="bg-o-color mr"
                  routerLink="/international-shipment-by-air"
                  styleClass="p-button-outlined"
                >
                </p-button>
                <p-button
                  type="submit"
                  [disabled]="!ISForm.form.valid"
                  label="Update"
                  class="bg-b-color ml"
                >
                </p-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
