<app-sidebar></app-sidebar>
<div class="body-position">
    <app-dashboard-head></app-dashboard-head>
    <div class="main-container">
        <div class="row">
    <div class="main-container">
        <div class="row">
            <div>
                <h3>Edit Driver</h3>
            </div>
    
            <div class="order-body">
                <form >
                    
                    <div class="row order-form ">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 marg-ss  form-group">
                            <label class="add-order-label">Name</label>
                            <input type="text" class="order-search form-control" formControlName="mode">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 marg-ss  form-group">
                            <label class="add-order-label">Contact Number</label>
                            <input type="text" class="order-search form-control" formControlName="mode">
                        </div>
                    </div>
                    <div class="row order-form ">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 marg-ss  form-group">
                            <label class="add-order-label">Reference Number</label>
                            <input type="text" class="order-search form-control" formControlName="mode">
                        </div>
                    </div>
                    <div class="row text-center mt-2">
                        <div>
                            <button type="button" class="btn btn-sty">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
    
        </div>
    </div>
    </div>
    </div>
</div>
