<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast></p-toast>
          <div class="card">
            <h1 class="mb-4 h-color">Edit International Shipment By Road</h1>
            <form #ISForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="grid">
                <!-- 1 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Country </label>
                    <p-dropdown
                      class="w-full"
                      [options]="location"
                      #originCountry="ngModel"
                      name="originCountry"
                      [required]="true"
                      (onChange)="getLocationPortByLocationForOrigin()"
                      [(ngModel)]="internationalShipment.originCountry"
                      optionValue="locationName"
                      optionLabel="locationName"
                      [filter]="true"
                      filterBy="locationName"
                      [showClear]="true"
                      placeholder="Select a Origin Country
                    "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.originCountry }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-location pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ location.locationName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Port </label>
                    <p-dropdown
                      class="w-full"
                      [options]="originPorts"
                      #originPort="ngModel"
                      name="originPort"
                      [required]="true"
                      [(ngModel)]="internationalShipment.originPort"
                      optionValue="portName"
                      optionLabel="portName"
                      [filter]="true"
                      filterBy="portName"
                      [showClear]="true"
                      placeholder="Select a Origin Port
                    "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.originPort }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-originPorts pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ originPorts.portName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Referigirated Truck</label>
                    <p-inputSwitch
                      #referigiratedTruck="ngModel"
                      name="referigiratedTruck"
                      [(ngModel)]="internationalShipment.refrigeratedTruck"
                    ></p-inputSwitch>
                  </div>
                </div>

                <!-- 2 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Mode </label>
                    <input
                      #mode="ngModel"
                      name="mode"
                      [required]="true"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [readOnly]="true"
                      [(ngModel)]="internationalShipment.type"
                    />
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Shipment Mode </label>
                    <p-dropdown
                      class="w-full"
                      [options]="shipmentMode"
                      #SMode="ngModel"
                      name="SMode"
                      [required]="true"
                      [(ngModel)]="internationalShipment.shipmentMode"
                      optionValue="options"
                      optionLabel="options"
                      [filter]="true"
                      filterBy="options"
                      [showClear]="true"
                      placeholder="Select a Shipment Mode
                    "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.shipmentMode }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-shipmentMode pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ shipmentMode.options }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <!-- <div class="col-12 md:col-6 lg:col-4"> -->
                <!-- <div class="flex flex-column gap-2">
                        <label htmlFor="name">Pre-Alert Number</label>
                        <input
                          #PAN="ngModel" name="PAN" [required]="true"
                          pInputText
                          id="name"
                          aria-describedby="name-help"

                          [(ngModel)]="internationalShipment.preAlertNumber"
                        />
                        <small id="name-help" class="color-red"  *ngIf="PAN.invalid && (PAN.dirty || PAN.touched)">Pre Alert Number is required.</small>
                      </div> -->
                <!-- </div> -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Trip</label>
                    <input
                      pInputText
                      id="trip"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.trip"
                      #trip="ngModel"
                      required
                      name="trip"
                    />
                    <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Country </label>
                    <p-dropdown
                      class="w-full"
                      [options]="location"
                      (onChange)="getLocationPortByLocationForDestination()"
                      #destinationCountry="ngModel"
                      name="destinationCountry"
                      [required]="true"
                      [(ngModel)]="internationalShipment.destinationCountry"
                      optionValue="locationName"
                      optionLabel="locationName"
                      [filter]="true"
                      filterBy="locationName"
                      [showClear]="true"
                      placeholder="Select a Destination Country
                      "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>
                            {{ internationalShipment.destinationCountry }}
                          </div>
                        </div>
                      </ng-template>
                      <ng-template let-location pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ location.locationName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Port </label>
                    <p-dropdown
                      class="w-full"
                      [options]="destinationPorts"
                      #destinationPort="ngModel"
                      name="destinationPort"
                      [required]="true"
                      [(ngModel)]="internationalShipment.destinationPort"
                      optionValue="portName"
                      optionLabel="portName"
                      [filter]="true"
                      filterBy="portName"
                      [showClear]="true"
                      placeholder="Select a Destination Port
                      "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.destinationPort }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-destinationPorts pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ destinationPorts.portName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name"
                      >Route Number
                      <span
                        ><p-badge
                          (click)="getInternationalRouteForRoad()"
                          class=""
                          value="Look up"
                          severity="info"
                        ></p-badge> </span
                    ></label>
                    <p-dropdown
                      class="w-full"
                      [options]="routes"
                      #routeNumber="ngModel"
                      name="routeNumber"
                      [required]="true"
                      [(ngModel)]="internationalShipment.routeNumber"
                      optionValue="route"
                      optionLabel="route"
                      [filter]="true"
                      filterBy="route"
                      [showClear]="true"
                      placeholder="Select a Route Number
                        "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>
                            {{ internationalShipment.routeNumber }}
                          </div>
                        </div>
                      </ng-template>
                      <ng-template let-routes pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ routes.route }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <!-- 4 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ETD</label>
                    <p-calendar
                      #etd="ngModel"
                      name="etd"
                      [(ngModel)]="internationalShipment.etd"
                      [required]="true"
                      [showTime]="true"
                      [showSeconds]="true"
                      [selectOtherMonths]="true"
                      [minDate]="minDate"
                    ></p-calendar>
                    <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ETA</label>
                    <p-calendar
                      #eta="ngModel"
                      name="eta"
                      [(ngModel)]="internationalShipment.eta"
                      [required]="true"
                      [showTime]="true"
                      [showSeconds]="true"
                      [selectOtherMonths]="true"
                      [minDate]="minDate"
                    ></p-calendar>
                    <!-- <small id="name-help"
                          >{{name}}</small
                        > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ATD</label>
                    <p-calendar
                      #atd="ngModel"
                      name="atd"
                      [(ngModel)]="internationalShipment.atd"
                      [required]="true"
                      [showTime]="true"
                      [showSeconds]="true"
                      [selectOtherMonths]="true"
                      [minDate]="minDate"
                    ></p-calendar>
                    <!-- <small id="name-help"
                          >{{name}}</small
                        > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Departure Time</label>
                    <p-calendar
                      #departureTime="ngModel"
                      name="departureTime"
                      [required]="true"
                      [(ngModel)]="internationalShipment.departureTime"
                      [timeOnly]="true"
                      [showTime]="true"
                      [showSeconds]="true"
                    ></p-calendar>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Arrival Time </label>
                    <p-calendar
                      #arrivalTime="ngModel"
                      name="arrivalTime"
                      [required]="true"
                      [timeOnly]="true"
                      [showTime]="true"
                      [showSeconds]="true"
                      [(ngModel)]="internationalShipment.arrivalTime"
                    ></p-calendar>
                  </div>
                </div>

                <!-- 5 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Actual Weight</label>
                    <input
                      #actualWeight="ngModel"
                      name="actualWeight"
                      [required]="true"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.actualWeight"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        actualWeight.invalid &&
                        (actualWeight.dirty || actualWeight.touched)
                      "
                      >Actual Weight is required.</small
                    >
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Number of Shipments</label>
                    <input
                      #numberOfShipments="ngModel"
                      name="numberOfShipments"
                      [required]="true"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.numberOfShipments"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        numberOfShipments.invalid &&
                        (numberOfShipments.dirty || numberOfShipments.touched)
                      "
                      >Number of Shipments is required.</small
                    >
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Pre Alert Number</label>
                    <input
                      pInputText
                      id="name"
                      pattern="\d{3}-\d{8}"
                      minlength="12"
                      maxlength="12"
                      aria-describedby="name-help"
                      name="preAlertNumber"
                      [(ngModel)]="internationalShipment.preAlertNumber"
                      #preAlertNumber="ngModel"
                      (input)="dashAfterThree()"
                      required
                      [ngClass]="{
                        error:
                          preAlertNumber.invalid &&
                          (preAlertNumber.dirty || preAlertNumber.touched)
                      }"
                    />

                    <small
                      class="color-red error"
                      *ngIf="preAlertNumber.invalid && (preAlertNumber.dirty || preAlertNumber.touched )&&preAlertNumber?.errors?.['required']"
                    >
                      Pre Alert Number is required.
                    </small>
                    <small
                      class="color-red error"
                      *ngIf="preAlertNumber.invalid && (preAlertNumber.dirty || preAlertNumber.touched )&&preAlertNumber?.errors?.['pattern']"
                    >
                      Invalid pattern
                    </small>
                    <small
                      class="color-red error"
                      *ngIf="preAlertNumber.invalid && (preAlertNumber.dirty || preAlertNumber.touched )&&preAlertNumber?.errors?.['minlength']"
                    >
                      Minimum 11 cheater is required
                    </small>
                  </div>
                </div>

                <!-- 6 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Driver Name </label>
                    <p-dropdown
                      class="w-full"
                      [options]="drivers"
                      name="driverName"
                      [required]="true"
                      #driverName="ngModel"
                      (onChange)="driverData()"
                      [(ngModel)]="selectedDriver"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Driver Name"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="selectedDriver"
                        >
                          <div>{{ selectedDriver.name }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-drivers pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ drivers.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Driver Contact</label>
                    <input
                      pInputText
                      [readOnly]="true"
                      id="name"
                      #driverContact="ngModel"
                      name="driverContact"
                      [required]="true"
                      aria-describedby="name-help"
                      [(ngModel)]="this.internationalShipment.driverContact"
                    />
                    <small id="name-help" class="color-warning"
                      >this field is auto select when we select driver
                      name</small
                    >
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Reference Number</label>
                    <input
                      [readOnly]="true"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      #referenceNumber="ngModel"
                      name="referenceNumber"
                      [required]="true"
                      [(ngModel)]="this.internationalShipment.referenceNumber"
                    />
                    <small id="name-help" class="color-warning"
                      >this field is auto select when we select driver
                      name</small
                    >
                  </div>
                </div>

                <!-- 7 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Vehicle Type</label>
                    <p-dropdown
                      class="w-full"
                      #vehicleType="ngModel"
                      name="vehicleType"
                      [required]="true"
                      [options]="vehicleTypes"
                      [(ngModel)]="internationalShipment.vehicleType"
                      optionValue="name"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Vehicle Type"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.vehicleType }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-vehicleTypes pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ vehicleTypes.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Pallets</label>
                    <p-dropdown
                      class="w-full"
                      #numberOfPallet="ngModel"
                      name="numberOfPallet"
                      [required]="true"
                      [options]="numberOfPallets"
                      [(ngModel)]="internationalShipment.numberOfPallets"
                      optionValue="options"
                      optionLabel="options"
                      [filter]="true"
                      filterBy="options"
                      [showClear]="true"
                      placeholder="Select a Number of Pallets"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.numberOfPallets }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-numberOfPallets pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ numberOfPallets.options }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Bags</label>
                    <p-inputNumber
                      [maxlength]="3"
                      id="name"
                      [(ngModel)]="internationalShipment.numberOfBags"
                      #numberOfBags="ngModel"
                      [required]="true"
                      name="numberOfBags"
                    ></p-inputNumber>
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        numberOfBags.invalid &&
                        (numberOfBags.dirty || numberOfBags.touched)
                      "
                      >Number of Bags is required.</small
                    >
                  </div>
                </div>
                <!-- 8 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Vehicle Number</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      #vehicleNumber="ngModel"
                      name="vehicleNumber"
                      [required]="true"
                      [(ngModel)]="internationalShipment.vehicleNumber"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        vehicleNumber.invalid &&
                        (vehicleNumber.dirty || vehicleNumber.touched)
                      "
                      >Vehicle Number is required.</small
                    >
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Tag Number</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      #tagNumber="ngModel"
                      name="tagNumber"
                      [required]="true"
                      [(ngModel)]="internationalShipment.tagNumber"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        tagNumber.invalid &&
                        (tagNumber.dirty || tagNumber.touched)
                      "
                      >Tag Number is required.</small
                    >
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Seal Number</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      #sealNumber="ngModel"
                      name="sealNumber"
                      [required]="true"
                      [(ngModel)]="internationalShipment.sealNumber"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        sealNumber.invalid &&
                        (sealNumber.dirty || sealNumber.touched)
                      "
                      >Seal Number is required.</small
                    >
                  </div>
                </div>
                <!-- 9 -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Status</label>
                    <p-dropdown
                      class="w-full"
                      [options]="shipmentStatus?.productFieldValuesList"
                      name="status"
                      #status="ngModel"
                      [required]="true"
                      [(ngModel)]="internationalShipment!.status"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Status"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment!.status }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-shipmentStatus pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ shipmentStatus.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Remarks</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.remarks"
                      #remarks="ngModel"
                      name="remarks"
                      [required]="true"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        remarks.invalid && (remarks.dirty || remarks.touched)
                      "
                      >Remarks is required.</small
                    >
                  </div>
                </div>
              </div>

              <div class="flex align-items-center justify-content-end mt-4">
                <p-button
                  label="Cancel"
                  class="bg-o-color mr"
                  routerLink="/international-shipment-by-road"
                  styleClass="p-button-outlined"
                >
                </p-button>
                <p-button
                  type="submit"
                  [disabled]="!ISForm.form.valid"
                  label="Save"
                  class="bg-b-color ml"
                >
                </p-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
