<div class="flex flex-row">
    <app-sidebar></app-sidebar>
    <div class="body-position">
      <div class="body-holder">
        <app-dashboard-head></app-dashboard-head>
  
        <div class="main">
          <div class="card flex justify-content-center">
            <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
          </div>
          <div class="body-card">
            <p-toast></p-toast>
            <div class="card">
              <h1 class="mb-4 h-color">Reset Password</h1>
              <form #userForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="grid">
                  <div class="col-12 md:col-12 lg:col-6">
                    <div class="flex flex-column gap-2">
                      <label htmlFor="name">EmployeeId</label>
                      <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="resetPassword.id" name="employeeId"
                        #name="ngModel" required />
                      <small id="name-help" class="color-red" *ngIf="name.invalid && (name.dirty || name.touched)">employeeId is
                        required.</small>
                    </div>
                  </div>
                  <div class="col-12 md:col-12 lg:col-6">
                    <div class="flex flex-column gap-2 form-hook1">
                      <label htmlFor="password">Password</label>
  
                      <p-password [(ngModel)]="resetPassword.oldPassword" #password="ngModel" name="password" required
                        [toggleMask]="true"></p-password>
                      <small id="name-help" class="color-red"
                        *ngIf="password.invalid && (password.dirty || password.touched)">Password is required.</small>
                    </div>
                  </div>
                  <div class="col-12 md:col-12 lg:col-6">
                    <div class="flex flex-column gap-2 form-hook1">
                      <label htmlFor="password">Password</label>
  
                      <p-password [(ngModel)]="resetPassword.newPassword" #password="ngModel" name="password" required
                        [toggleMask]="true"></p-password>
                      <small id="name-help" class="color-red"
                        *ngIf="password.invalid && (password.dirty || password.touched)">Password is required.</small>
                    </div>
                  </div>
                </div>
                <div class="flex align-items-center justify-content-end mt-4">
                  <p-button label="Cancel" class="bg-o-color mr" routerLink="/user" styleClass="p-button-outlined">
                  </p-button>
                  <p-button type="submit" [disabled]="!userForm.form.valid" label="Save" class="bg-b-color ml">
                  </p-button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>