<div class="flex flex-row">
    <app-sidebar></app-sidebar>
    <div class="body-position">
      <div class="body-holder">
        <app-dashboard-head></app-dashboard-head>
  
        <div class="main">
          <div class="card flex justify-content-center">
              <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
          </div>
          <div class="body-card">
              <div class="table-head">
                  <p-toolbar>
                      <div class="p-toolbar-group-start">
                        <h2 class="h-color">International Shipment By Air</h2>
                      </div>
                      <div class="p-toolbar-group-end">
                          <p-button class="bg-b-color" routerLink="/add-international-shipment-by-air">
                            <i class="bi bi-plus-lg" style="font-size: 20px;font-weight: bold;"></i>&nbsp;Add Shipment
                          </p-button>
                      </div>
                  </p-toolbar>
              </div>
            
  
            <div class="card">
              <p-table [value]="internationalShipmentByRoad" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                  <tr>
                  <th class="text-center">Mode</th>
                  <th class="text-center">Shipment Mode</th>
                  <th class="text-center">Origin Country</th>
                  <th class="text-center">Origin Port</th>
                  <th class="text-center">Pre-Alert Number</th>
                  <th class="text-center">Destination Country</th>
                  <th class="text-center">Destination Port</th>
                  <th class="text-center">Route Number</th>
                  <th class="text-center">ETD</th>
                  <th class="text-center">ETA</th>
                  <th class="text-center">ATD</th>
                  <th class="text-center">Carrier</th>
                  <th class="text-center">Departure Date </th>
                  <th class="text-center">Departure Time</th>
                  <th class="text-center">Flight Number</th>
                  <th class="text-center">Arrival Date</th>
                  <th class="text-center">Arrival Time</th>
                  <th class="text-center">Number of Shipments</th>
                  <th class="text-center">Actual Weight</th>
                  <th class="text-center">Reference Number</th>
                  <th class="text-center">Number of Pallets</th>
                  <th class="text-center">Number of Bags</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Remarks</th>
                  <th class="text-center">ATA</th>
                  <th class="text-center">Total Shipments</th>
                  <th class="text-center">Overages</th>
                  <th class="text-center">Overage AWBS</th>
                  <th class="text-center">Received</th>
                  <th class="text-center">Shortages</th>
                  <th class="text-center">Shortage AWBs</th>
                  <th class="text-center">Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-internationalShipmentByRoad>
                  <tr>
                    <td class="text-center">{{ internationalShipmentByRoad.type}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.shipmentMode}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.originCountry}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.originPort}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.preAlertNumber}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.destinationCountry}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.destinationPort}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.routeNumber}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.etd}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.eta}}</td> 
                    <td class="text-center">{{ internationalShipmentByRoad.atd}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.carrier}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.departureDate}}</td>       
                    <td class="text-center">{{internationalShipmentByRoad.departureTime}}</td>               
                    <td class="text-center">{{ internationalShipmentByRoad.flightNumber}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.arrivalDate}}</td>
                    <td class="text-center">{{internationalShipmentByRoad.arrivalTime}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.numberOfShipments}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.actualWeight}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.referenceNumber}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.numberOfPallets}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.numberOfBags}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.status}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.remarks}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.ata}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.totalShipments}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.overages}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.overageAWBs}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.received}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.shortages}}</td>
                    <td class="text-center">{{ internationalShipmentByRoad.shortageAWBs}}</td>
                   
  
                    <td class="text-center flex flex-row"> 
                      <p-button icon="bi bi-clock-history" [routerLink]="['/international-shipment-history-by-air/',internationalShipmentByRoad.id]" class='mr' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                      
                      </p-button>
                      <p-button icon="bi bi-paperclip" class='ml mr' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                     
                      </p-button>
                      <p-button [routerLink]="['/update-international-shipment-by-air',internationalShipmentByRoad.id]" icon="bi bi-pen" class='ml mr' styleClass="p-button-rounded p-button-success p-button-text p-button-raised">
                       
                      </p-button>
                       <p-button icon="bi bi-trash" class='ml' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                      
                       </p-button>
                      
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  