<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast></p-toast>
          <div class="card">
            <h1 class="mb-4 h-color">Add Domestic Outbound</h1>
            <form #domesticShipmentForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="grid">
                <!-- 1 -->
                <div class="col-12 md:col-12 lg:col-12 m-0 p-0 ">
                <div class="col-12 md:col-6 lg:col-4 ">
                  <div class="flex flex-column gap-2 form-hook">
                  
                    <label htmlFor="name">Search Locations By Country</label>
                    <p-dropdown
                      class="w-full"
                      (onChange)="searchLocationByCountry(selectedCountry)"
                      [options]="domesticCountryList!"
                      name="originLocation"
                      #originLocation="ngModel"
                      [required]="true"
                      [(ngModel)]="selectedCountry"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select Search Locations By Country"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="selectedCountry"
                        >
                          <div>{{ selectedCountry}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ country.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Origin Country</label>
                    <input
                      pInputText
                      [readOnly]="true"
                      id="name"
                      #originCountry="ngModel"
                      name="originCountry"
                      [required]="true"
                      aria-describedby="name-help"
                      [(ngModel)]="this.domesticShipment.originCountry"
                    />
                    <small id="name-help" class="color-warning"
                      >this field is auto select when we select Search Locations By Country</small
                    >
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Facility </label>
                    <p-dropdown
                      class="w-full"
                      [options]="originFacility"
                      (onChange)="onOrgFacilityChange()"
                      name="originFacility1"
                      #originFacility1="ngModel"
                      [required]="true"
                      [(ngModel)]="domesticShipment.originFacility"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Origin Facility"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="domesticShipment"
                        >
                          <div>{{ domesticShipment.originFacility }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-originFacility pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ originFacility.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>



                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Location</label>
                    <p-dropdown
                      class="w-full"
                      [options]="orgLocation!"
                      name="originLocation"
                      #originLocation="ngModel"
                      [required]="true"
                      [(ngModel)]="domesticShipment.originLocation"
                      optionLabel="locationName"
                      optionValue="locationName"
                      [filter]="true"
                      filterBy="locationName"
                      [showClear]="true"
                      placeholder="Select a Origin Location"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="domesticShipment"
                        >
                          <div>{{ domesticShipment.originLocation }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-location pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ location.locationName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

               

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Destination Country</label>
                    <input
                      pInputText
                      [readOnly]="true"
                      id="name"
                      #destinationCountry="ngModel"
                      name="destinationCountry"
                      [required]="true"
                      aria-describedby="name-help"
                      [(ngModel)]="this.domesticShipment.destinationCountry"
                    />
                    <small id="name-help" class="color-warning"
                      >this field is auto select when we select Search Locations By Country</small
                    >
                  </div>
                </div>


            
                
                 <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Facility </label>
                    <p-dropdown
                      class="w-full"
                      [options]="destinationFacility"
                      (onChange)="onDesFacilityChange()"
                      name="originFacility1"
                      #originFacility1="ngModel"
                      [required]="true"
                      [(ngModel)]="domesticShipment.destinationFacility"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Destination Facility"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="domesticShipment"
                        >
                          <div>{{ domesticShipment.destinationFacility }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-destinationFacility pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ destinationFacility.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div> 


               

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Location</label>
                    <p-dropdown
                      class="w-full"
                      [options]="desLocation!"
                      name="destinationLocation"
                      #destinationLocation="ngModel"
                      [required]="true"
                      [(ngModel)]="domesticShipment.destinationLocation"
                      optionLabel="locationName"
                      optionValue="locationName"
                      [filter]="true"
                      filterBy="locationName"
                      [showClear]="true"
                      placeholder="Select a Destination Location"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="domesticShipment"
                        >
                          <div>{{ domesticShipment.destinationLocation }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-location pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ location.locationName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>


               
              


                <!-- <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Country</label>
                    <p-dropdown
                      class="w-full"
                      [options]="originCountry"
                      name="originFacility1"
                      #originFacility1="ngModel"
                      [required]="true"
                      [(ngModel)]="domesticShipment.originCountry"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Origin Facility"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="domesticShipment"
                        >
                          <div>{{ domesticShipment.originCountry }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-originCountry pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ originCountry.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div> -->
                <!-- <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Country</label>
                    <p-dropdown
                      class="w-full"
                      [options]="destinationCountry"
                      name="originFacility1"
                      #originFacility1="ngModel"
                      [required]="true"
                      [(ngModel)]="domesticShipment.destinationCountry"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Origin Facility"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="domesticShipment"
                        >
                          <div>{{ domesticShipment.destinationCountry }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-destinationCountry pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ destinationCountry.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
              -->

                
               

             

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Refrigerated Vehicle</label>
                    <p-inputSwitch
                      #referigiratedTruck="ngModel"
                      name="referigiratedTruck"
                      [(ngModel)]="domesticShipment.refrigeratedTruck"
                    ></p-inputSwitch>
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>


                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name"
                      >Route Number
                      <span
                        ><p-badge
                          (click)="getDomesticRoute()"
                          class=""
                          value="Look up"
                          severity="info"
                        ></p-badge> </span
                    ></label>
                    <p-dropdown
                      class="w-full"
                      [options]="routes"
                      #routeNumber="ngModel"
                      name="routeNumber"
                      [required]="true"
                      (onChange)="onRouteChange(domesticRoute)"
                      [(ngModel)]="domesticRoute"
                      optionLabel="route"
                      [filter]="true"
                      filterBy="route"
                      [showClear]="true"
                      placeholder="Select a Route Number
                      "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="domesticShipment"
                        >
                          <div>
                            {{ domesticRoute.route }}
                          </div>
                        </div>
                      </ng-template>
                      <ng-template let-routes pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ routes.route }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div *ngIf="tripSwitch" class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Trip</label>
                    <input
                      pInputText
                      id="trip"
                      type="number"
                      pattern="^[1-9]+[0-9]*$"
                      aria-describedby="name-help"
                      [(ngModel)]="domesticShipment.trip"
                      #trip="ngModel"
                      required
                      name="trip"
                    />
                    <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Shipments</label>
                    <p-inputNumber
                    id="name"
                    [(ngModel)]="domesticShipment.numberOfShipments"
                    #numberOfShipments="ngModel"
                    [required]="true"
                    name="numberOfShipments"
                    [useGrouping]="false"
                  ></p-inputNumber>
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number Of Boxes</label>
                    <p-inputNumber
                    id="name"
                    [(ngModel)]="domesticShipment.numberOfBoxes"
                    #numberOfBoxes="ngModel"
                    [required]="true"
                    name="numberOfBoxes"
                    [useGrouping]="false"
                  ></p-inputNumber>
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Weight in kg</label>
                    <p-inputNumber
                    id="name"
                    [(ngModel)]="domesticShipment.weight"
                    #weight="ngModel"
                    [required]="true"
                    name="weight"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  </div>
                </div>

                <!-- <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Pre Alert Number</label>
                    <p-inputNumber
                    id="name"
                    [maxlength]="12"
                    [(ngModel)]="domesticShipment.preAlertNumber"
                    #preAlertNumber="ngModel"
                    [required]="true"
                    name="preAlertNumber"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  </div>
                </div> -->

                <!-- <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ETD</label>
                  
                    <p-calendar
                      [(ngModel)]="domesticShipment.etd"
                      #etd="ngModel"
                      name="etd"
                      [required]="true"
                      [showTime]="true"
                      [showSeconds]="true"
                      [selectOtherMonths]="true"                    
                      [minDate]="minDate"                    
                    ></p-calendar>
                   
                  </div>
                </div> -->

                <!-- <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ETA</label>
               
                    <p-calendar
                      [(ngModel)]="domesticShipment.eta"
                      #eta="ngModel"              
                      name="eta"                  
                      [required]="true"
                      [showTime]="true"
                      [showSeconds]="true"
                      [selectOtherMonths]="true"                    
                      [minDate]="minDate"  
                    ></p-calendar>

               
                  </div>
                </div> -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ATD</label>
                    <!-- <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.atd"
                      #atd="ngModel" required name="atd" /> -->
                    <p-calendar
                      [(ngModel)]="domesticShipment.atd"
                      #atd="ngModel"
                      [required]="true"
                      [stepMinute]="5"
                      [defaultDate]="defaultDate"
                      [showTime]="true"
                      [selectOtherMonths]="true"                    
                      name="atd"
                    ></p-calendar>

                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Driver Name </label>
                    <p-dropdown
                      class="w-full"
                      [options]="drivers"
                      name="driverName"
                      [required]="true"
                      #driverName="ngModel"
                      (onChange)="driverData()"
                      [(ngModel)]="selectedDriver"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Driver Name"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="selectedDriver"
                        >
                          <div>{{ selectedDriver.name }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-drivers pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ drivers.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Driver Contact</label>
                    <input
                      pInputText
                      [readOnly]="true"
                      id="name"
                      #driverContact="ngModel"
                      name="driverContact"
                      [required]="true"
                      aria-describedby="name-help"
                      [(ngModel)]="this.domesticShipment.driverContact"
                    />
                    <small id="name-help" class="color-warning"
                      >this field is auto select when we select driver
                      name</small
                    >
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Master CONS</label>
                    <p-inputNumber
                    [maxlength]="12"
                  
                    id="name"
                    [(ngModel)]="domesticShipment.referenceNumber"
                    #referenceNumber="ngModel"
                    [required]="true"
                    name="referenceNumber"
                    [useGrouping]="false"
                  ></p-inputNumber>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Vehicle Type</label>
                    <p-dropdown
                      class="w-full"
                      [options]="vehicleTypes"
                      name="vehicleType"
                      #vehicleType="ngModel"
                      [required]="true"
                      [(ngModel)]="domesticShipment.vehicleType"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Vehicle Type"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="domesticShipment"
                        >
                          <div>{{ domesticShipment.vehicleType }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-vehicleTypes pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ vehicleTypes.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Pallets</label>
                    <p-dropdown
                      class="w-full"
                      #numberOfPallet="ngModel"
                      name="numberOfPallet"
                      [required]="true"
                      [options]="numberOfPallets"
                      [(ngModel)]="domesticShipment.numberOfPallets"
                      optionValue="options"
                      optionLabel="options"
                      [filter]="true"
                      filterBy="options"
                      [showClear]="true"
                      placeholder="Select a Number of Pallets"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="domesticShipment"
                        >
                          <div>{{ domesticShipment.numberOfPallets }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-numberOfPallets pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ numberOfPallets.options }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Bags</label>
                    <p-inputNumber
                      [maxlength]="3"
                      id="name"
                      [(ngModel)]="domesticShipment.numberOfBags"
                      #numberOfBags="ngModel"
                      [required]="true"
                      name="numberOfBags"
                    ></p-inputNumber>
                    <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                  </div>
                </div>

                <!-- 7 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Vehicle Number</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="domesticShipment.vehicleNumber"
                      #vehicleNumber="ngModel"
                      required
                      name="vehicleNumber"
                    />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>
           
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Security Tag</label>
                   
                 
                    <p-chips class="chipes-hook" [(ngModel)]="domesticShipment.tagNumber" [required]="true" separator=","  [allowDuplicate]="false"   #tagNumber="ngModel"  name="tagNumber" appIsNumber appSevenDigitValidator>
                    </p-chips>
                 
                   <small
                    id="name-help"
                    class="color-red"
                    *ngIf="tagNumber.invalid && (tagNumber.dirty || tagNumber.touched)&&tagNumber.errors?.['invalidLength']">Each value must be exactly 7 digits long.</small>

                    <small
                    id="name-help"
                    class="color-red"
                    *ngIf="tagNumber.invalid && (tagNumber.dirty || tagNumber.touched)&& tagNumber?.errors?.['required']">Security Tag is required.</small>
                    <small
                    id="name-help"
                    class="color-red"
                    *ngIf="tagNumber.invalid && (tagNumber.dirty || tagNumber.touched)&& tagNumber?.errors?.['invalidValue']">Security Tag is not a Number</small>

                  </div>
                </div>


                <!-- <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Seal Number</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="domesticShipment.sealNumber"
                      #sealNumber="ngModel"
                      required
                      name="sealNumber"
                    /> -->
                    <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                  <!-- </div>
                </div> -->
                <!-- 8 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Status </label>
                    <input
                      #mode="ngModel"
                      name="mode"
                      [required]="true"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [readOnly]="true"
                      [(ngModel)]="domesticShipment.status"
                    />
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Remarks</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="domesticShipment.remarks"
                      #remarks="ngModel"
                      required
                      name="remarks"
                    />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>

                <!-- <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ATA</label>

                    <p-calendar [(ngModel)]="domesticShipment.ata" #ata="ngModel" [required]="true"
                      name="ata"></p-calendar>

                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Total Shipments</label>
                    <input pInputText id="name" aria-describedby="name-help"
                      [(ngModel)]="domesticShipment.totalShipments" #totalShipments="ngModel" required
                      name="totalShipments" />

                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Overages</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.overages"
                      #overages="ngModel" required name="overages" />

                  </div>
                </div>


                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Overage AWBs</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.overagesAwbs"
                      #overageAwbs="ngModel" required name="overageAwbs" />

                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Received</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.received"
                      #received="ngModel" required name="received" />

                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Shortages</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.shortages"
                      #shortages="ngModel" required name="shortages" />

                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Shortage AWBs</label>
                    <input pInputText id="name" aria-describedby="name-help"
                      [(ngModel)]="domesticShipment.shortagesAwbs" #shortageAwbs="ngModel" required
                      name="shortageAwbs" />

                  </div>
                </div> -->
              </div>

              <!-- <h2 class="mb-4 mt-4">Attachments</h2>
              <div class="grid">
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">AWB Copies</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">Invoices</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">Manifest</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">Transit Manifest</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">MAWB</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">Vehcile Manifest</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">Export Bayan</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">Export Bayan</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">AWB Copies</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">AWB Copies</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
              </div> -->
              <div class="flex align-items-center justify-content-end mt-4">
                <p-button
                  label="Cancel"
                  class="bg-o-color mr"
                  routerLink="/domestic-shipping"
                  styleClass="p-button-outlined"
                >
                </p-button>
                <p-button
                  type="submit"
                  [disabled]="!domesticShipmentForm.form.valid"
                  label="Save"
                  class="bg-b-color ml"
                >
                </p-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
