<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast></p-toast>
          <div class="card">
            <h1 class="mb-4 h-color">Add International Route</h1>
            <form #permissionForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Origin</label>
                    <input
                      pInputText
                      id="origin"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalRoute.origin"
                      name="origin"
                      #origin="ngModel"
                      required
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="origin.invalid && (origin.dirty || origin.touched)"
                      >Origin is required.</small
                    >
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Destinition</label>
                    <input
                      pInputText
                      id="destinition"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalRoute.destination"
                      name="destinition"
                      #destinition="ngModel"
                      required
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="destinition.invalid && (destinition.dirty || destinition.touched)"
                      >Origin is required.</small
                    >
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Route</label>
                    <input
                      pInputText
                      id="route"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalRoute.route"
                      name="route"
                      #route="ngModel"
                      required
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="route.invalid && (route.dirty || route.touched)"
                      >Route is required.</small
                    >
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Flight</label>
                    <input
                      pInputText
                      id="driver"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalRoute.flight"
                      name="driver"
                      #driver="ngModel"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="driver.invalid && (driver.dirty || driver.touched)"
                      >Driver is required.</small
                    >
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-6">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Departure Time</label>
                    <p-calendar
                      #etd="ngModel"
                      name="etd"
                      [required]="true"
                      [(ngModel)]="internationalRoute.etd"
                      [timeOnly]="true"
                      [showTime]="true"
                      [showSeconds]="true"
                    ></p-calendar>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-6">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Arival Time</label>
                    <p-calendar
                      #eta="ngModel"
                      name="eta"
                      [required]="true"
                      [(ngModel)]="internationalRoute.eta"
                      [timeOnly]="true"
                      [showTime]="true"
                      [showSeconds]="true"
                    ></p-calendar>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Remarks</label>
                    <input
                      pInputText
                      id="remarks"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalRoute.remarks"
                      name="remarks1"
                      #remarks1="ngModel"
                      required
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="route.invalid && (route.dirty || route.touched)"
                      >Route is required.</small
                    >
                  </div>
                </div>
              </div>
              <div class="flex align-items-center justify-content-end mt-4">
                <p-button
                  label="Cancel"
                  class="bg-o-color mr"
                  routerLink="/domestic-routes"
                  styleClass="p-button-outlined"
                >
                </p-button>
                <p-button
                  type="submit"
                  [disabled]="!permissionForm.form.valid"
                  label="Save"
                  class="bg-b-color ml"
                >
                </p-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
