<div class="flex flex-row">
    <app-sidebar></app-sidebar>
    <div class="body-position">
      <div class="body-holder">
        <app-dashboard-head></app-dashboard-head>
  
        <div class="main">
          <div class="body-card">
            <div class="table-head">
                <div class="grid">
                     <div class="col-6">
                        <h2 class="h-color mb-5">Dash Board</h2>
                      </div>
                      <div class="col-6">
                      
                        <div class="float-right">
                                <label  for="">Year : </label>
                                <p-calendar (onSelect)="getCardsData(date)"  [(ngModel)]="date" view="year" dateFormat="yy" inputId="yearpicker"></p-calendar>
                        </div>
                      
                     </div>
                </div>  
             
            </div>
            <div class="grid">
                <div *ngIf="ifDomesticExist()" class="col-12 lg:col-6 xl:col-4">
                    <div routerLink="/domestic-shipping" class="card mb-0">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Total Domestic Shipments</span>
                                <div class="text-900 font-medium text-xl">{{DomesticCardsData.TotalShipments}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i style="color:#ffffff" class="bi bi-plus-square"></i>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div *ngIf="ifDomesticExist()" class="col-12 lg:col-6 xl:col-4">
                    <div routerLink="/domestic-shipping" class="card mb-0">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Domestic Outbounds</span>
                                <div class="text-900 font-medium text-xl">{{DomesticCardsData.Outbounds}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i style="color:#ffffff" class="bi bi-box-arrow-up-right"></i>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div *ngIf="ifDomesticExist()" class="col-12 lg:col-6 xl:col-4">
                    <div routerLink="/domestic-summary" class="card mb-0">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Domestic Inbounds</span>
                                <div class="text-900 font-medium text-xl">{{DomesticCardsData.Inbounds}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i style="font-size:larger ;color:#ffffff" class="bi bi-box-arrow-in-down-left"></i>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div *ngIf="ifInternationalAirExist()" class="col-12 lg:col-6 xl:col-4">
                    <div routerLink="/domestic-shipping" class="card mb-0">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Total International Air Shipments</span>
                                <div class="text-900 font-medium text-xl">{{IntAirCardsData.TotalShipments}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i style="color:#ffffff" class="bi bi-plus-square"></i>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div *ngIf="ifInternationalAirExist()" class="col-12 lg:col-6 xl:col-4">
                    <div routerLink="/domestic-shipping" class="card mb-0">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">International Air Outbounds</span>
                                <div class="text-900 font-medium text-xl">{{IntAirCardsData.Outbounds}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i style="color:#ffffff" class="bi bi-box-arrow-up-right"></i>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div *ngIf="ifInternationalAirExist()" class="col-12 lg:col-6 xl:col-4">
                    <div routerLink="/domestic-summary" class="card mb-0">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">International Air Inbounds</span>
                                <div class="text-900 font-medium text-xl">{{IntAirCardsData.Inbounds}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i style="font-size:larger ;color:#ffffff" class="bi bi-box-arrow-in-down-left"></i>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div *ngIf="ifInternationalRoadExist()" class="col-12 lg:col-6 xl:col-4">
                    <div routerLink="/domestic-shipping" class="card mb-0">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Total International Road Shipments</span>
                                <div class="text-900 font-medium text-xl">{{IntRoadCardsData.TotalShipments}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i style="color:#ffffff" class="bi bi-plus-square"></i>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div *ngIf="ifInternationalRoadExist()" class="col-12 lg:col-6 xl:col-4">
                    <div routerLink="/domestic-shipping" class="card mb-0">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">International Road Outbounds</span>
                                <div class="text-900 font-medium text-xl">{{IntRoadCardsData.Outbounds}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i style="color:#ffffff" class="bi bi-box-arrow-up-right"></i>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div *ngIf="ifInternationalRoadExist()" class="col-12 lg:col-6 xl:col-4">
                    <div routerLink="/domestic-summary" class="card mb-0">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">International Road Inbounds</span>
                                <div class="text-900 font-medium text-xl">{{IntRoadCardsData.Inbounds}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i style="font-size:larger ;color:#ffffff" class="bi bi-box-arrow-in-down-left"></i>
                            </div>
                        </div>
                       
                    </div>
                </div>
        
                <!-- <div class="col-12 xl:col-12">
                    <div class="card">
                        <div class="flex justify-content-center">
                            <p-chart type="pie" [data]="chartData" [options]="chartOptions"></p-chart>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-12">
                    <h2 class="h-color mt-2 mb-2">High And Low Volume Of Locations</h2>
                </div>
                
                <div class="col-12 xl:col-6">
                    <div class="card">
                        <h2 class="h-color mb-5">Domestic Outbound</h2>
                        <p-chart type="bar" [data]="locationDomOutData" [options]="basicOptions"></p-chart>
                    </div>
                </div>
                <div class="col-12 xl:col-6">
                    <div class="card">
                        <h2 class="h-color mb-5">Domestic Inbound</h2>
                        <p-chart type="bar" [data]="locationDomInData" [options]="basicOptions"></p-chart>
                    </div>
                </div>
                <div class="col-12 xl:col-6">
                    <div class="card">
                        <h2 class="h-color mb-5">International Air Outbound</h2>
                        <p-chart type="bar" [data]="locationIntAirOutData" [options]="basicOptions"></p-chart>
                    </div>
                </div>
                <div class="col-12 xl:col-6">
                    <div class="card">
                        <h2 class="h-color mb-5">International Air Inbound</h2>
                        <p-chart type="bar" [data]="locationIntAirInData" [options]="basicOptions"></p-chart>
                    </div>
                </div>
                <div class="col-12 xl:col-6">
                    <div class="card">
                        <h2 class="h-color mb-5">International Road Outbound</h2>
                        <p-chart type="bar" [data]="locationIntRoadOutData" [options]="basicOptions"></p-chart>
                    </div>
                </div>
                <div class="col-12 xl:col-6">
                    <div class="card">
                        <h2 class="h-color mb-5">International Road Inbound</h2>
                        <p-chart type="bar" [data]="locationIntRoadInData" [options]="basicOptions"></p-chart>
                    </div>
                </div> -->

                <div class="col-12">
                    <h2 class="h-color mt-2 mb-2">High To Low Volume Of Outbound Domestic Shipments</h2>
                </div>

                <div class="col-12 xl:col-6" *ngFor="let domOutLocationToLocation of DomOutLocationToLocation">
                    <div class="card">
                        <h2 class="h-color mb-5">{{getFirstKey(domOutLocationToLocation)}}</h2>
                        <p-chart type="bar" [data]="domOutLocationToLocation[getFirstKey(domOutLocationToLocation)]" [options]="basicOptions"></p-chart>
                    </div>
                </div>
                <div class="col-12">
                    <h2 class="h-color mt-2 mb-2">High To Low Volume Of Outbound International Air Shipments</h2>
                </div>

                <div class="col-12 xl:col-6" *ngFor="let intAirOutLocationToLocation of IntAirOutLocationToLocation">
                    <div class="card">
                        <h2 class="h-color mb-5">{{getFirstKey(intAirOutLocationToLocation)}}</h2>
                        <p-chart type="bar" [data]="intAirOutLocationToLocation[getFirstKey(intAirOutLocationToLocation)]" [options]="basicOptions"></p-chart>
                    </div>
                </div>
                <div class="col-12">
                    <h2 class="h-color mt-2 mb-2">High To Low Volume Of Outbound International Road Shipments</h2>
                </div>

                <div class="col-12 xl:col-6" *ngFor="let intRoadOutLocationToLocation of IntRoadOutLocationToLocation">
                    <div class="card">
                        <h2 class="h-color mb-5">{{getFirstKey(intRoadOutLocationToLocation)}}</h2>
                        <p-chart type="bar" [data]="intRoadOutLocationToLocation[getFirstKey(intRoadOutLocationToLocation)]" [options]="basicOptions"></p-chart>
                    </div>
                </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>