
<app-sidebar></app-sidebar>
<div class="body-position">
    <app-dashboard-head></app-dashboard-head>

    <div class="main-container">
        <div class="row">
          <div  class="container-fluid container-sty">
            <div class="table-container">
              <h3 class="heading">History</h3>
              <div class="table-holder">
                <table class="table table-striped">
                  <thead>
                    <tr>
                     <th class="text-center nowrap col-md-2 col-lg-1 bg-color">Status</th>
                     <th class="text-center nowrap col-md-2 col-lg-1 bg-color">Process Time</th>
                     <th class="text-center nowrap col-md-2 col-lg-1 bg-color">Location Code</th>
                     <th class="text-center nowrap col-md-2 col-lg-1 bg-color">User</th>
                     <th class="text-center nowrap col-md-2 col-lg-1 bg-color">Remarks</th>
                    </tr>
                  </thead>
                  <tbody>  
                    <tr>
                     <td class="text-center w-auto col-md-2 col-lg-1">Cleared</td>
                     <td class="text-center w-auto col-md-2 col-lg-1">10/16/22 15:20</td>
                     <td class="text-center w-auto col-md-2 col-lg-1">KSA GW</td>
                     <td class="text-center w-auto col-md-2 col-lg-1">9029</td>
                     <td class="text-center w-auto col-md-2 col-lg-1">Load Cleared and forwarded</td>
                    </tr>
                    <tr>
                      <td class="text-center w-auto col-md-2 col-lg-1">Cleared</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">10/16/22 15:20</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">KSA GW</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">9029</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">Load Cleared and forwarded</td>
                     </tr>
                     <tr>
                      <td class="text-center w-auto col-md-2 col-lg-1">Cleared</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">10/16/22 15:20</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">KSA GW</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">9029</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">Load Cleared and forwarded</td>
                     </tr>
                    <tr>
                      <td class="text-center w-auto col-md-2 col-lg-1">Cleared</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">10/16/22 15:20</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">KSA GW</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">9029</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">Load Cleared and forwarded</td>
                     </tr>
                     <tr>
                      <td class="text-center w-auto col-md-2 col-lg-1">Cleared</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">10/16/22 15:20</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">KSA GW</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">9029</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">Load Cleared and forwarded</td>
                     </tr>
                     <tr>
                      <td class="text-center w-auto col-md-2 col-lg-1">Cleared</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">10/16/22 15:20</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">KSA GW</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">9029</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">Load Cleared and forwarded</td>
                     </tr>
                     <tr>
                      <td class="text-center w-auto col-md-2 col-lg-1">Cleared</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">10/16/22 15:20</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">KSA GW</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">9029</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">Load Cleared and forwarded</td>
                     </tr>
                     <tr>
                      <td class="text-center w-auto col-md-2 col-lg-1">Cleared</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">10/16/22 15:20</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">KSA GW</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">9029</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">Load Cleared and forwarded</td>
                     </tr>
                     <tr>
                      <td class="text-center w-auto col-md-2 col-lg-1">Cleared</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">10/16/22 15:20</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">KSA GW</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">9029</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">Load Cleared and forwarded</td>
                     </tr>
                     <tr>
                      <td class="text-center w-auto col-md-2 col-lg-1">Cleared</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">10/16/22 15:20</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">KSA GW</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">9029</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">Load Cleared and forwarded</td>
                     </tr>
                     <tr>
                      <td class="text-center w-auto col-md-2 col-lg-1">Cleared</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">10/16/22 15:20</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">KSA GW</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">9029</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">Load Cleared and forwarded</td>
                     </tr>
                     <tr>
                      <td class="text-center w-auto col-md-2 col-lg-1">Cleared</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">10/16/22 15:20</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">KSA GW</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">9029</td>
                      <td class="text-center w-auto col-md-2 col-lg-1">Load Cleared and forwarded</td>
                     </tr>
              
                  </tbody>
                  </table>
              </div>
            </div>
        </div>
        
        </div>
    </div>
</div>
