.container-sty{
    background-color: #f8f9fa;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    padding: 25px 25px;
}
.table-container{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    height: 80vh;
}
.heading{
    color: #400099;
}
.bg-color{
    background-color: #400099;
    color: #ffffff;
}
.table-holder{
    max-height:80% ;
    width: 100%;
    overflow:auto;
    border-radius:10px;
}

.table thead tr{
    position: sticky;
    top: 0;
}


.table-holder::-webkit-scrollbar{
    width:5px;
    
  }

  
  /* Track */
  .table-holder::-webkit-scrollbar-track{
    background: #f1f1f1; 
  }
   
  /* Handle */
  .table-holder::-webkit-scrollbar-thumb{
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .table-holder::-webkit-scrollbar-thumb:hover:vertical{
    background: #555; 
  }