<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast></p-toast>
          <div class="card">
            <h1 class="mb-4 h-color">Edit Domestic Shipment</h1>
            <form #domesticShipmentForm="ngForm" (ngSubmit)="onSubmit()">

              <div class="grid">

                <!-- 1 -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Facility
                    </label>
                    <p-dropdown class="w-full" [options]="originFacility" name="originFacility1"
                      #originFacility1="ngModel" [required]="true" [(ngModel)]="domesticShipment.originFacility"
                      optionLabel="originFacility" optionValue="originFacility" [filter]="true"
                      filterBy="originFacility" [showClear]="true" placeholder="Select a Origin Facility">
                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="domesticShipment">
                          <div>{{ domesticShipment.originFacility}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-originFacility pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ originFacility.originFacility }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Location</label>
                    <p-dropdown class="w-full" [options]="location" name="originLocation" #originLocation="ngModel"
                      [required]="true" [(ngModel)]="domesticShipment.originLocation" optionLabel="locationName"
                      optionValue="locationName" [filter]="true" filterBy="locationName" [showClear]="true"
                      placeholder="Select a Origin Location">
                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="domesticShipment">
                          <div>{{ domesticShipment.originLocation}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-location pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ location.locationName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Referigirated Truck</label>
                    <p-inputSwitch #referigiratedTruck="ngModel" name="referigiratedTruck"
                      [(ngModel)]="domesticShipment.refrigeratedTruck"></p-inputSwitch>
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Facility</label>
                    <p-dropdown class="w-full" [options]="originFacility" name="destinationFacility"
                      #destinationFacility="ngModel" [required]="true"
                      [(ngModel)]="domesticShipment.destinationFacility" optionLabel="originFacility"
                      optionValue="originFacility" [filter]="true" filterBy="originFacility" [showClear]="true"
                      placeholder="Select a Destination Facility">
                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="domesticShipment">
                          <div>{{ domesticShipment.destinationFacility}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-originFacility pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ originFacility.originFacility }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Location</label>
                    <p-dropdown class="w-full" [options]="location" name="destinationLocation"
                      #destinationLocation="ngModel" [required]="true"
                      [(ngModel)]="domesticShipment.destinationLocation" optionLabel="locationName"
                      optionValue="locationName" [filter]="true" filterBy="locationName" [showClear]="true"
                      placeholder="Select a Destination Location">
                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="domesticShipment">
                          <div>{{ domesticShipment.destinationLocation}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-location pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ location.locationName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook ">
                    <label htmlFor="name">Route Number <span><p-badge (click)="getDomesticRoute()" class=""
                          value="Look up" severity="info"></p-badge>
                      </span></label>
                      <p-dropdown
                      class="w-full"
                      [options]="routes"
                      #routeNumber="ngModel"
                      name="routeNumber"
                      [required]="true"
                      [(ngModel)]="domesticShipment.routeNumber"
                      optionValue="route"
                      optionLabel="route"
                      [filter]="true"
                      filterBy="route"
                      [showClear]="true"
                     
                      placeholder="Select a Route Number
                      "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="domesticShipment"
                        >
                          <div>
                            {{ domesticShipment.routeNumber }}
                          </div>
                        </div>
                      </ng-template>
                      <ng-template let-routes pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ routes.route }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Number of Shipments</label>
                    <input pInputText id="name" aria-describedby="name-help"
                      [(ngModel)]="domesticShipment.numberOfShipments" #numberOfShipments="ngModel" required
                      name="numberOfShipments" />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Weight</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.weight"
                      #weight="ngModel" required name="weight" />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>


                <div class="col-12 md:col-6 lg:col-4">

                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ETD</label>
                    <!-- <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.etd"
                      #etd="ngModel" required name="etd" /> -->
                    <p-calendar [(ngModel)]="domesticShipment.etd" #etd="ngModel" [required]="true"
                      name="etd"></p-calendar>
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ETA</label>
                    <!-- <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.eta"
                      #eta="ngModel" required name="eta" /> -->
                    <p-calendar [(ngModel)]="domesticShipment.eta" #eta="ngModel" [required]="true"
                      name="eta"></p-calendar>

                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ATD</label>
                    <!-- <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.atd"
                      #atd="ngModel" required name="atd" /> -->
                    <p-calendar [(ngModel)]="domesticShipment.atd" #atd="ngModel" [required]="true"
                      name="atd"></p-calendar>

                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Driver Name
                    </label>
                    <p-dropdown class="w-full" [options]="drivers" name="driverName" [required]="true"
                      #driverName="ngModel" (onChange)="driverData()" [(ngModel)]="selectedDriver" optionLabel="name"
                      [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Driver Name">
                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="selectedDriver">
                          <div>{{selectedDriver.name}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-drivers pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ drivers.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Driver Contact</label>
                    <input pInputText [readOnly]="true" id="name" #driverContact="ngModel" name="driverContact"
                      [required]="true" aria-describedby="name-help"
                      [(ngModel)]="this.domesticShipment.driverContact" />
                    <small id="name-help" class="color-warning">this field is auto select when we select driver
                      name</small>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Reference Number</label>
                    <input [readOnly]="true" pInputText id="name" aria-describedby="name-help"
                      #referenceNumber="ngModel" name="referenceNumber" [required]="true"
                      [(ngModel)]="this.domesticShipment.referenceNumber" />
                    <small id="name-help" class="color-warning">this field is auto select when we select driver
                      name</small>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">

                    <label htmlFor="name">Vehicle Type</label>
                    <p-dropdown class="w-full" [options]="vehicleTypes" name="vehicleType" #vehicleType="ngModel"
                      [required]="true" [(ngModel)]="domesticShipment.vehicleType" optionLabel="name" optionValue="name"
                      [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Vehicle Type">
                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="domesticShipment">
                          <div>{{domesticShipment.vehicleType}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-vehicleTypes pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ vehicleTypes.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Pallets</label>
                    <p-dropdown class="w-full" #numberOfPallet="ngModel" name="numberOfPallet" [required]="true"
                      [options]="numberOfPallets" [(ngModel)]="domesticShipment.numberOfPallets" optionValue="options"
                      optionLabel="options" [filter]="true" filterBy="options" [showClear]="true"
                      placeholder="Select a Number of Pallets">
                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="domesticShipment">
                          <div>{{ domesticShipment.numberOfPallets}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-numberOfPallets pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ numberOfPallets.options }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Bags</label>
                    <p-inputNumber [maxlength]="3" id="name" [(ngModel)]="domesticShipment.numberOfBags"
                      #numberOfBags="ngModel" [required]="true" name="numberOfBags"></p-inputNumber>
                    <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                  </div>
                </div>

                <!-- 7 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Vehicle Number</label>
                    <input pInputText id="name" aria-describedby="name-help"
                      [(ngModel)]="domesticShipment.vehicleNumber" #vehicleNumber="ngModel" required
                      name="vehicleNumber" />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Tag Number</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.tagNumber"
                      #tagNumber="ngModel" required name="tagNumber" />
                    <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Seal Number</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.sealNumber"
                      #sealNumber="ngModel" required name="sealNumber" />
                    <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                  </div>
                </div>
                <!-- 8 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Status</label>
                    <p-dropdown class="w-full" [options]="shipmentStatus" name="status" #status="ngModel"
                      [required]="true" [(ngModel)]="domesticShipment.status" optionLabel="name" optionValue="name"
                      [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Status">
                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="domesticShipment">
                          <div>{{ domesticShipment.status}}</div>
                        </div>
                      </ng-template>
                      <ng-template let-shipmentStatus pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ shipmentStatus.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Remarks</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.remarks"
                      #remarks="ngModel" required name="remarks" />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>

                <!-- <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ATA</label>

                    <p-calendar [(ngModel)]="domesticShipment.ata" #ata="ngModel" [required]="true"
                      name="ata"></p-calendar>

                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Total Shipments</label>
                    <input pInputText id="name" aria-describedby="name-help"
                      [(ngModel)]="domesticShipment.totalShipments" #totalShipments="ngModel" required
                      name="totalShipments" />

                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Overages</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.overages"
                      #overages="ngModel" required name="overages" />

                  </div>
                </div>


                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Overage AWBs</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.overagesAwbs"
                      #overageAwbs="ngModel" required name="overageAwbs" />

                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Received</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.received"
                      #received="ngModel" required name="received" />

                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Shortages</label>
                    <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="domesticShipment.shortages"
                      #shortages="ngModel" required name="shortages" />

                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Shortage AWBs</label>
                    <input pInputText id="name" aria-describedby="name-help"
                      [(ngModel)]="domesticShipment.shortagesAwbs" #shortageAwbs="ngModel" required
                      name="shortageAwbs" />

                  </div>
                </div> -->







              </div>

              <!-- <h2 class="mb-4 mt-4">Attachments</h2>
              <div class="grid">
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">AWB Copies</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">Invoices</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">Manifest</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">Transit Manifest</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">MAWB</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">Vehcile Manifest</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">Export Bayan</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">Export Bayan</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">AWB Copies</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
                <div class=" lg:col-6 md:col-12 sm:col-12 ">
                  <div class="flex flex-column gap-2 form-hook">
                    <h3 for="">AWB Copies</h3>
                    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"  accept="image/*" [maxFileSize]="size">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                </div>
              </div> -->
              <div class="flex align-items-center justify-content-end mt-4">
                <p-button label="Cancel" class="bg-o-color mr" routerLink="/domestic-shipping"
                  styleClass="p-button-outlined">
                </p-button>
                <p-button type="submit" [disabled]="!domesticShipmentForm.form.valid" label="Update"
                  class="bg-b-color ml">
                </p-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>