<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast></p-toast>
          <div class="card">
            <h1 class="mb-4 h-color">Add International Shipment By Air</h1>
            <form #ISForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="grid">
                <!-- 1 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Mode </label>
                    <input
                      #mode="ngModel"
                      name="mode"
                      [required]="true"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [readOnly]="true"
                      [(ngModel)]="internationalShipment.type"
                    />
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Shipment Mode </label>
                    <p-dropdown
                      class="w-full"
                      [options]="shipmentMode"
                      #SMode="ngModel"
                      name="SMode"
                      [required]="true"
                      [(ngModel)]="internationalShipment.shipmentMode"
                      optionValue="options"
                      optionLabel="options"
                      [filter]="true"
                      filterBy="options"
                      [showClear]="true"
                      placeholder="Select a Shipment Mode
                    "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.shipmentMode }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-shipmentMode pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ shipmentMode.options }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4"></div>

                <!-- 2 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Country</label>
                    <p-dropdown
                      class="w-full"
                      [options]="location"
                      #originCountry="ngModel"
                      name="originCountry"
                      [required]="true"
                      [(ngModel)]="internationalShipment.originCountry"
                      (onChange)="getLocationPortByLocationForOrigin()"
                      optionValue="locationName"
                      optionLabel="locationName"
                      [filter]="true"
                      filterBy="locationName"
                      [showClear]="true"
                      placeholder="Select a Origin Country
                    "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.originCountry }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-location pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ location.locationName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Origin Port </label>
                    <p-dropdown
                      class="w-full"
                      [options]="originPorts"
                      #originPort="ngModel"
                      name="originPort"
                      [required]="true"
                      [(ngModel)]="internationalShipment.originPort"
                      optionValue="portName"
                      optionLabel="portName"
                      [filter]="true"
                      filterBy="portName"
                      [showClear]="true"
                      placeholder="Select a Origin Port
                    "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.originPort }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-originPorts pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ originPorts.portName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <!-- <div class="flex flex-column gap-2">
                    <label htmlFor="name">Pre-Alert Number</label>
                    <input
                      #PAN="ngModel"
                      name="PAN"
                      [required]="true"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.preAlertNumber"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="PAN.invalid && (PAN.dirty || PAN.touched)"
                      >Pre Alert Number is required.</small
                    >
                  </div> -->
                </div>

                <!-- 3 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Country </label>
                    <p-dropdown
                      class="w-full"
                      [options]="location"
                      #destinationCountry="ngModel"
                      name="destinationCountry"
                      [required]="true"
                      [(ngModel)]="internationalShipment.destinationCountry"
                      (onChange)="getLocationPortByLocationForDestination()"
                      optionValue="locationName"
                      optionLabel="locationName"
                      [filter]="true"
                      filterBy="locationName"
                      [showClear]="true"
                      placeholder="Select a Destination Country
                      "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>
                            {{ internationalShipment.destinationCountry }}
                          </div>
                        </div>
                      </ng-template>
                      <ng-template let-location pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ location.locationName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Port </label>
                    <p-dropdown
                      class="w-full"
                      [options]="destinationPorts"
                      #destinationPort="ngModel"
                      name="destinationPort"
                      [required]="true"
                      [(ngModel)]="internationalShipment.destinationPort"
                      optionValue="portName"
                      optionLabel="portName"
                      [filter]="true"
                      filterBy="portName"
                      [showClear]="true"
                      placeholder="Select a Destination Port
                      "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.destinationPort }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-destinationPorts pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ destinationPorts.portName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <!-- <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook" >
                    <label htmlFor="name">Route Number</label>
                    <p-dropdown
                      class="w-full"
                      [options]="routes"
                      #routeNumber="ngModel"
                      name="routeNumber"
                      [required]="true"
                      [(ngModel)]="internationalShipment.routeNumber"
                      optionValue="route"
                      optionLabel="route"
                      [filter]="true"
                      filterBy="route"
                      [showClear]="true"
                      (onClick)="getInternationalRouteForAir()"
                      placeholder="Select a Route Number
                      "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>
                            {{ internationalShipment.routeNumber }}
                          </div>
                        </div>
                      </ng-template>
                      <ng-template let-routes pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ routes.route }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div> -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name"
                      >Route Number
                      <span
                        ><p-badge
                          (click)="getInternationalRouteForAir()"
                          class=""
                          value="Look up"
                          severity="info"
                        ></p-badge> </span
                    ></label>
                    <span *ngIf="!showDropDown">{{
                      internationalShipment.routeNumber
                    }}</span>
                    <p-dropdown
                      *ngIf="showDropDown"
                      class="w-full"
                      [options]="routes"
                      #routeNumber="ngModel"
                      name="routeNumber"
                      [required]="true"
                      [(ngModel)]="internationalShipment.routeNumber"
                      optionValue="route"
                      optionLabel="route"
                      [filter]="true"
                      filterBy="route"
                      [showClear]="true"
                      placeholder="Select a Route Number
                      "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>
                            {{ internationalShipment.routeNumber }}
                          </div>
                        </div>
                      </ng-template>
                      <ng-template let-routes pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ routes.route }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <!-- 4 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ETD</label>
                    <p-calendar
                      #etd="ngModel"
                      name="etd"
                      [required]="true"
                      [(ngModel)]="internationalShipment.etd"
                    ></p-calendar>
                    <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ETA</label>
                    <p-calendar
                      #eta="ngModel"
                      name="eta"
                      [required]="true"
                      [(ngModel)]="internationalShipment.eta"
                    ></p-calendar>
                    <!-- <small id="name-help"
                          >{{name}}</small
                        > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">ATD</label>
                    <p-calendar
                      #atd="ngModel"
                      name="atd"
                      [required]="true"
                      [(ngModel)]="internationalShipment.atd"
                    ></p-calendar>
                    <!-- <small id="name-help"
                          >{{name}}</small
                        > -->
                  </div>
                </div>

                <!-- 5 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Carrier</label>
                    <input
                      #carrier="ngModel"
                      name="carrier"
                      [required]="true"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.carrier"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        carrier.invalid && (carrier.dirty || carrier.touched)
                      "
                      >Carrier is required.</small
                    >
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Departure Date</label>
                    <p-calendar
                      #departureDate="ngModel"
                      name="departureDate"
                      [required]="true"
                      [(ngModel)]="internationalShipment.departureDate"
                    ></p-calendar>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Departure Time</label>
                    <p-calendar
                      #departureTime="ngModel"
                      name="departureTime"
                      [required]="true"
                      [(ngModel)]="internationalShipment.departureTime"
                      [timeOnly]="true"
                      [showTime]="true"
                      [showSeconds]="true"
                    ></p-calendar>
                  </div>
                </div>

                <!-- 6 -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Flight Number</label>
                    <input
                      #flightNumber="ngModel"
                      name="carrier"
                      [required]="true"
                      pInputText
                      id="flightNumber"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.flightNumber"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        flightNumber.invalid &&
                        (flightNumber.dirty || flightNumber.touched)
                      "
                      >Flight Number is required.</small
                    >
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Arrival Date </label>
                    <p-calendar
                      #arrivalDate="ngModel"
                      name="arrivalDate"
                      [required]="true"
                      [(ngModel)]="internationalShipment.arrivalDate"
                    ></p-calendar>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Arrival Time </label>
                    <p-calendar
                      #arrivalTime="ngModel"
                      name="arrivalTime"
                      [required]="true"
                      [timeOnly]="true"
                      [showTime]="true"
                      [showSeconds]="true"
                      [(ngModel)]="internationalShipment.arrivalTime"
                    ></p-calendar>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Number of Shipments</label>
                    <input
                      #numberOfShipments="ngModel"
                      name="numberOfShipments"
                      [required]="true"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.numberOfShipments"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        numberOfShipments.invalid &&
                        (numberOfShipments.dirty || numberOfShipments.touched)
                      "
                      >Number of Shipments is required.</small
                    >
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Actual Weight</label>
                    <input
                      #actualWeight="ngModel"
                      name="actualWeight"
                      [required]="true"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.actualWeight"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        actualWeight.invalid &&
                        (actualWeight.dirty || actualWeight.touched)
                      "
                      >Actual Weight is required.</small
                    >
                  </div>
                </div>
                <!-- 8 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Reference Number</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      #referenceNumber="ngModel"
                      name="referenceNumber"
                      [required]="true"
                      [(ngModel)]="this.internationalShipment.referenceNumber"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        referenceNumber.invalid &&
                        (referenceNumber.dirty || referenceNumber.touched)
                      "
                      >Reference Number is required.</small
                    >
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Pallets</label>
                    <p-dropdown
                      class="w-full"
                      #numberOfPallet="ngModel"
                      name="numberOfPallet"
                      [required]="true"
                      [options]="numberOfPallets"
                      [(ngModel)]="internationalShipment.numberOfPallets"
                      optionValue="options"
                      optionLabel="options"
                      [filter]="true"
                      filterBy="options"
                      [showClear]="true"
                      placeholder="Select a Number of Pallets"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.numberOfPallets }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-numberOfPallets pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ numberOfPallets.options }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Bags</label>
                    <p-inputNumber
                      [maxlength]="3"
                      id="name"
                      [(ngModel)]="internationalShipment.numberOfBags"
                      #numberOfBags="ngModel"
                      [required]="true"
                      name="numberOfBags"
                    ></p-inputNumber>
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        numberOfBags.invalid &&
                        (numberOfBags.dirty || numberOfBags.touched)
                      "
                      >Number of Bags is required.</small
                    >
                  </div>
                </div>
                <!-- 9 -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Status</label>
                    <p-dropdown
                      class="w-full"
                      [options]="shipmentStatus"
                      name="status"
                      #status="ngModel"
                      [required]="true"
                      [(ngModel)]="internationalShipment.status"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Status"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="internationalShipment"
                        >
                          <div>{{ internationalShipment.status }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-shipmentStatus pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ shipmentStatus.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Remarks</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [(ngModel)]="internationalShipment.remarks"
                      #remarks="ngModel"
                      name="remarks"
                      [required]="true"
                    />
                    <small
                      id="name-help"
                      class="color-red"
                      *ngIf="
                        remarks.invalid && (remarks.dirty || remarks.touched)
                      "
                      >Remarks is required.</small
                    >
                  </div>
                </div>
              </div>

              <div class="flex align-items-center justify-content-end mt-4">
                <p-button
                  label="Cancel"
                  class="bg-o-color mr"
                  routerLink="/international-shipment-by-air"
                  styleClass="p-button-outlined"
                >
                </p-button>
                <p-button
                  type="submit"
                  [disabled]="!ISForm.form.valid"
                  label="Save"
                  class="bg-b-color ml"
                >
                </p-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
