<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast></p-toast>
          <div class="table-head mb-4">
            <h1 class="mb-4 h-color">View Domestic Outbound</h1>
            <p-toolbar>
              <div class="grid w-full">
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Origin Facility :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.originFacility }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Origin Location :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.originLocation }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Refrigerated Vehicle:</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.refrigeratedTruck }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Destination Facility :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.destinationFacility }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Destination Location :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.destinationLocation }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Route Number :</label>
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.routeNumber }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Number of Shipments :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.numberOfShipments }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Weight in kg:</label>
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.weight }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">ATD :</label> &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.atd | date : "shortDate" }}</label
                      >
                    </div>
                    <!-- <div class="lg:col-4 md:col-12 col-12"><label for="" class="heading-lable">ETD :</label> &nbsp;
                        <label for="" class="fr mr-8"> {{domesticShipment.etd| date:"shortDate" }}</label>
                      </div> -->
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <!-- <div class="lg:col-4 md:col-12 col-12"><label for="" class="heading-lable">ETA :</label> &nbsp;
                        <label for="" class="fr mr-8"> {{domesticShipment.eta| date:"shortDate" }}</label>
                      </div> -->

                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Driver Name :</label>
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.driverName }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Driver Contact :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.driverContact }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Master CONS :</label>
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.referenceNumber }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Vehicle Type :</label>
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.vehicleType }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Number of Pallets :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.numberOfPallets }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Number of Bags :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.numberOfBags }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Vehicle Number :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.vehicleNumber }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Number Of Boxes :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.numberOfBoxes }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Status:</label> &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.status }}</label
                      >
                    </div>
                  </div>
                </div>

                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Remarks :</label>
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.remarks }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">ATA :</label> &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.ata | date : "shortDate" }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Total Shipments:</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.totalShipments }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Overages :</label>
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.overages }}</label
                      >
                    </div>
                    <!-- <div class="lg:col-4 md:col-12 col-12"><label for="" class="heading-lable">Overages AWBs :</label> &nbsp;
                        <label for="" class="fr mr-8"> {{domesticShipment.overagesAwbs}}</label>
                      </div> -->
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Received:</label>
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.received }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Shortages :</label>
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.shortages }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <!-- <div class="lg:col-4 md:col-12 col-12"><label for="" class="heading-lable">Shortages AWBs :</label> &nbsp;
                        <label for="" class="fr mr-8"> {{domesticShipment.shortagesAwbs}}</label>
                      </div> -->
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Pre Alert Number :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.preAlertNumber }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Pre-Alert Type :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.preAlertType }}</label
                      >
                    </div>
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable">Manifested :</label>
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.numberOfShipments }}</label
                      >
                    </div>
                  </div>
                </div>
                <!-- start -->
                <div class="lg:col-12 md:col-6 col-12">
                  <div class="grid">
                    <div class="lg:col-4 md:col-12 col-12">
                      <label for="" class="heading-lable"
                        >Transit Time Taken :</label
                      >
                      &nbsp;
                      <label for="" class="fr mr-8">
                        {{ domesticShipment.transitTimeTaken }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-12 md:col-6 col-12">
                  <p-table
                    [value]="resultArray"
                    styleClass="p-datatable-gridlines"
                    [tableStyle]="{ 'min-width': '50rem' }"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="text-center primer-color">
                          Overages AWBs
                          <p-chip  (click)="onCopiedAnimationOveragesAWBs()" *ngIf="!AnimationOveragesAWBs" styleClass="pl-0 pr-3" class="f-right">
                            <span
                              class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                              ><i class="bi bi-copy"></i></span
                            >
                            <span class="ml-2 font-medium">copy</span>
                          </p-chip>
                          <p-chip *ngIf="AnimationOveragesAWBs" styleClass="pl-0 pr-3" class="f-right">
                            <span
                              class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                              ><i class="bi bi-check2"></i></span
                            >
                            <span class="ml-2 font-medium">copied!</span>
                          </p-chip>
                        </th>
                        <th class="text-center primer-color">
                          Shortages AWBs
                          <p-chip   (click)="onCopiedAnimationShortagesAWBs()" *ngIf="!AnimationShortagesAWBs" styleClass="pl-0 pr-3" class="f-right">
                            <span
                              class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                              ><i class="bi bi-copy"></i></span
                            >
                            <span class="ml-2 font-medium">copy</span>
                          </p-chip>
                          <p-chip *ngIf="AnimationShortagesAWBs" styleClass="pl-0 pr-3" class="f-right">
                            <span
                              class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                              ><i class="bi bi-check2"></i></span
                            >
                            <span class="ml-2 font-medium">copied!</span>
                          </p-chip>
                        </th>
                        <th class="text-center primer-color">
                          Security Tag
                          <p-chip  (click)="onCopiedAnimationSecurityTags()" *ngIf="!AnimationSecurityTag" styleClass="pl-0 pr-3" class="f-right">
                            <span
                              class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                              ><i class="bi bi-copy"></i></span
                            >
                            <span class="ml-2 font-medium">copy</span>
                          </p-chip>
                          <p-chip *ngIf="AnimationSecurityTag" styleClass="pl-0 pr-3" class="f-right">
                            <span
                              class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                              ><i class="bi bi-check2"></i></span
                            >
                            <span class="ml-2 font-medium">copied!</span>
                          </p-chip>
                        </th>
                        <th class="text-center primer-color">
                          Damage AWBs
                          <p-chip  (click)="onCopiedAnimationDamageAWBs()" *ngIf="!AnimationDamageAWBs" styleClass="pl-0 pr-3" class="f-right">
                            <span
                              class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                              ><i class="bi bi-copy"></i></span
                            >
                            <span class="ml-2 font-medium">copy</span>
                          </p-chip>
                          <p-chip *ngIf="AnimationDamageAWBs" styleClass="pl-0 pr-3" class="f-right">
                            <span
                              class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
                              ><i class="bi bi-check2"></i></span
                            >
                            <span class="ml-2 font-medium">copied!</span>
                          </p-chip>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-resultArray>
                      <tr>
                        <td class="text-center">
                          {{ resultArray.overagesAWBs }}
                        </td>
                        <td class="text-center">
                          {{ resultArray.shortagesAWBs }}
                        </td>
                        <td class="text-center">
                          {{ resultArray.securityTag }}
                        </td>
                        <td class="text-center">
                          {{ resultArray.damageAWBs }}
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </p-toolbar>
          </div>
          <div class="table-head">
            <h2 class="h-color mb-3">Domestic Outbound History</h2>
          </div>

          <div class="card">
            <p-table
              [value]="domesticShipmentHistory"
              [tableStyle]="{ 'min-width': '50rem' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th class="text-center">Status</th>

                  <th class="text-center">Process time</th>

                  <th class="text-center">Location Code</th>

                  <th class="text-center">User</th>

                  <th class="text-center">Remarks</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-domesticShipmentHistory>
                <tr>
                  <td class="text-center">
                    {{ domesticShipmentHistory.status }}
                  </td>
                  <td class="text-center">
                    {{
                      domesticShipmentHistory.processTime
                        | date : "MM/dd/yyyy hh:mm"
                    }}
                  </td>
                  <td class="text-center">
                    {{ domesticShipmentHistory.locationCode }}
                  </td>
                  <td class="text-center">
                    {{ domesticShipmentHistory.user }}
                  </td>
                  <td class="text-center">
                    {{ domesticShipmentHistory.remarks }}
                  </td>

                  <!-- <td class="text-center"> 
                      <p-button routerLink="/edit-location"  icon="bi bi-pen"  tooltipPosition="top" pTooltip="Edit"  class='mr' styleClass="p-button-rounded p-button-success p-button-text p-button-raised">
                       
                      </p-button>
                       <p-button  icon="bi bi-trash"  tooltipPosition="top" pTooltip="Delete"  class='ml' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                      
                       </p-button>
                    </td> -->
                </tr>
              </ng-template>
            </p-table>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
