<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast></p-toast>
          <div class="card">
            <h1 class="mb-4 h-color">Edit Location</h1>
            <form #permissionForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="grid">
              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Location Name</label>
                  <input
                  [required]="true"
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [(ngModel)]="location.locationName"
                    name="name"
                    #name="ngModel"
                    required
                  />
                  <small id="name-help" class="color-red"  *ngIf="name.invalid && (name.dirty || name.touched)">Name is required.</small>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Location Type</label>
                  <p-dropdown class="w-full"
                   [options]="type?.productFieldValuesList" [required]="true" name="type1" #type1="ngModel"
                   optionLabel="name"
                   optionValue="name"
                    [(ngModel)]="location.type" [filter]="true" filterBy="name" [showClear]="true"
                    placeholder="Select a Location Type">
                    <ng-template pTemplate="selectedItem">
                      <div class="flex align-items-center gap-2" *ngIf="location">
                        <div>{{location.type}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-type pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ type.name }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Country</label>
                  <p-dropdown class="w-full" [required]="true" [options]="country" name="country1" #country1="ngModel"
                    [(ngModel)]="location.country"  [filter]="true"
                    filterBy="name" [showClear]="true" placeholder="Select a Country">
                    <ng-template pTemplate="selectedItem">
                      <div class="flex align-items-center gap-2" *ngIf="location">
                        <div>{{location.country?.name}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ country.name }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>


              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Facility</label>
                  <p-dropdown class="w-full" [options]="facility" [required]="true" name="facility1" #facility1="ngModel"
                    [(ngModel)]="location.facility"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Facility">
                    <ng-template pTemplate="selectedItem">
                      <div class="flex align-items-center gap-2" *ngIf="location">
                        <div>{{location.facility?.name}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-facility pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ facility.name }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>

              <div class="col-12 md:col-12 lg:col-12">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Origin Email</label>
                  <div class="card p-fluid">
                  <p-chips #originEmail="ngModel" [allowDuplicate]="false"  required="true"  name="originEmail"  [(ngModel)]="location.originEmail" ></p-chips>
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-12">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Destination Email</label>
                  <div class="card p-fluid">
                  <p-chips #destinationEmail="ngModel" [allowDuplicate]="false" required="true" name="destinationEmail"  [(ngModel)]="location.destinationEmail" ></p-chips>
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-12 lg:col-12">
                <h1  class="mb-4 h-color">Origin Escalation</h1>
              </div>

           <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Level 1</label>
                  <div class="card p-fluid">
                    <p-chips #originEscalationLevel1="ngModel" [allowDuplicate]="false" required="true" name="originEscalationLevel1"  [(ngModel)]="location.originEscalationLevel1" ></p-chips>
                  </div>
                </div>
            </div>

            <div class="col-12 md:col-6 lg:col-6">
              <div class="flex flex-column gap-2">
                <label htmlFor="name">Level 2</label>
                <div class="card p-fluid">
                  <p-chips #originEscalationLevel2="ngModel" [allowDuplicate]="false" required="true" name="originEscalationLevel2"  [(ngModel)]="location.originEscalationLevel2" ></p-chips>
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
              <div class="flex flex-column gap-2">
                <label htmlFor="name">Level 3</label>
                <div class="card p-fluid">
                  <p-chips #originEscalationLevel3="ngModel" [allowDuplicate]="false" required="true" name="originEscalationLevel3"  [(ngModel)]="location.originEscalationLevel3" ></p-chips>
                </div>
              </div>
            </div>
              <div class="col-12 md:col-12 lg:col-12">
                  <h1  class="mb-4 h-color">destination Escalation</h1>
              </div>
              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Level 1</label>
                  <div class="card p-fluid">
                    <p-chips #destinationEscalationLevel1="ngModel" [allowDuplicate]="false" required="true" name="destinationEscalationLevel1"  [(ngModel)]="location.destinationEscalationLevel1" ></p-chips>
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Level 2</label>
                  <div class="card p-fluid">
                    <p-chips #destinationEscalationLevel2="ngModel" [allowDuplicate]="false" required="true" name="destinationEscalationLevel2"  [(ngModel)]="location.destinationEscalationLevel2" ></p-chips>
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Level 3</label>
                  <div class="card p-fluid">
                    <p-chips #destinationEscalationLevel3="ngModel" [allowDuplicate]="false" required="true" name="destinationEscalationLevel3"  [(ngModel)]="location.destinationEscalationLevel3" ></p-chips>
                  </div>
                </div>
              </div>



            </div>
            <div class="flex align-items-center justify-content-end mt-4">
                <p-button label="Cancel" class="bg-o-color mr" routerLink="/location" styleClass="p-button-outlined">
                </p-button>
                <p-button type="submit" [disabled]="!permissionForm.form.valid"  label="Save" class="bg-b-color ml">
                </p-button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
