.custom-outline-primary {
    background-color: #400099; /* Replace "your-custom-color" with the color of your choice */
    color: white; 
    border-color: white;/* Replace "your-custom-color" with the color of your choice */
}

/* .custom-outline-primary:hover {
    background-color: #400099;
    color: white; 
} */

.hover-effect:hover {
    cursor: pointer !important;
    /* Apply other styles for the hover effect if needed */
}
.dash-head {
    padding: 13px 22px;
    display: flex;
    justify-content:end;
    height: 80px;
    border-bottom: 1px solid #e3e3e3;
}
  .mr{
    margin-right: 30px;
    min-height:40px!important ;
  }