<div class="dash-head">
    <!-- <div style="display: flex;">
        <input type="text" class="form-control input-dashboard" placeholder="Search">
        <button type="button" class="order-table-btn btn btn-prop ">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>

    <div class="dash-dd">
        <div class="" (click)="logout()">
            <button class="btn btn-outline-primary custom-outline-primary font-size14px rounded-lg mt-2">
                Log out&nbsp;&nbsp;<i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </div>
    </div> -->

       
     
    <button class="btn btn-outline-primary custom-outline-primary font-size14px rounded-lg mr">
        Log out&nbsp;&nbsp;<i class="bi bi-box-arrow-right"></i>
    </button>
   
</div>